<!DOCTYPE html>
<html lang="cn" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{t2/layout.html}">
<head>
<title th:text="|关于《${category.categoryName}》的内容-${host.shortName}|"></title>
<meta name="keywords" th:content="|${category.categoryName},${category.categoryName}最新,更多${category.categoryName}|"/>
<meta name="description" th:content="|更多关于${category.categoryName}的内容|"/>
<link th:href="|${host.domain}/type/${category.categoryId}|" rel="canonical" />
</head>
<th:block layout:fragment="content">
<div class="mb-5">
	<div class="card border-0 box-shadow mb-4">
		<div class="bg-lightblue p-4">
			<h2 class="font-weight-bold text-center"><span th:text="${category.categoryName}"></span></h2>
		</div>
	</div>
	<h2 class="font-weight-bold spanborder"><span>最新《<th:block th:text="${category.categoryName}"></th:block>》</span></h2>
	<th:block th:each="blog,stat : ${list}">
	<div class="mb-3 art-item-c pb-3 d-flex justify-content-between">
		<div class="pr-3">
			<h3 class="mb-1 font-weight-bold">
			<a class="text-dark" th:href="@{'/blog/' + ${blog.blogId}}" th:text="${blog.blogTitle}"></a>
			</h3>
			<p th:text="${blog.blogRemark}"></p>
			<!-- div class="card-text text-muted small">Jake Bittle in SCIENCE</div -->
			<small class="text-muted" th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd HH:mm')}"></small>
		</div>
		<img th:if="${#strings.isEmpty(blog.blogCoverImage)}" height="120" src="/static/blog/coffee.jpg">
		<img th:if="${not #strings.isEmpty(blog.blogCoverImage)}" height="120" th:src="${blog.blogCoverImage}">
	</div>
	</th:block>
	
	<nav aria-label="Page navigation">
	  <ul class="pagination">
	    <li class="page-item" th:each="item,stat:${pages}" th:classappend="${item.currentPage?'active':''}"><a class="page-link" th:href="@{/type/{cid}/{page}(cid=${category.categoryId},page=${item.page})}" th:text="${item.label}">Previous</a></li>
	  </ul>
	</nav>
    
	<div class="pt-4 pb-4">
		<div class="border p-5 bg-lightblue">
			<div class="row justify-content-between">
				<div class="col-md-6">
					<h2 class="font-weight-bold secondfont">成为会员</h2>
					 在收件箱中获取最新消息。这是免费的，你可以随时退订。我们和其他人一样讨厌垃圾邮件，所以我们从不发垃圾邮件！
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="First name">
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="Last name">
						</div>
						<div class="col-md-12 mt-3">
							<button type="submit" class="btn btn-success btn-block">订阅</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</th:block>
</html>
