<!DOCTYPE html>
<html lang="cn" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{runoo/layout.html}">
<head>
<title th:text="${host.title}"></title>
<meta name="baidu-site-verification" th:content="${host.baiduVerification}" />
<meta name="keywords" th:content="${host.keywords}">
<meta name="description" th:content="${host.description}">
</head>
<th:block layout:fragment="content">
    
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-2" th:each="item,state:${list}" th:if="${state.index <= 0}">>
                <h1 class="fw-bolder"><a th:href="@{'/txt/' + ${item.blogId}}" th:text="${item.blogTitle}"></a></h1>
                <p class="lead mb-0" th:text="${blog.blogRemark}"></p>
            </div>
        </div>
    </header>
    
	<div class="row mb-2">
	    <div class="col-md-6" th:each="item,state:${list}" th:if="${state.index <= 2 and state.index >= 1}">
	      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
	        <div class="col p-4 d-flex flex-column position-static">
	          <a th:href="@{'/txt/' + ${item.blogId}}" class="d-inline-block mb-2 text-primary" th:text="${item.blogTitle}">World</a>
	          <div class="mb-1 text-muted" th:text="${#dates.format(item.updateTime,'yyyy-MM-dd HH:mm:ss')}">Nov 12</div>
	        </div>
	        <div class="col-auto d-none d-lg-block">
				<img th:if="${#strings.isEmpty(item.blogCoverImage)}" class="lazyload" height="120" data-src="/static/blog/coffee.jpg">
				<img th:if="${not #strings.isEmpty(item.blogCoverImage)}" class="lazyload" height="120" th:attr="data-src=${item.blogCoverImage}">
	        </div>
	      </div>
	    </div>
	  </div>
    
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <th:block th:each="blog,stat : ${list}" th:if="${stat.index} gt 2">
				<div class="mt-3 pt-3 d-flex justify-content-between art-item-i">
					<img th:if="${#strings.isEmpty(blog.blogCoverImage)}" class="lazyload" height="120" data-src="/static/blog/coffee.jpg">
					<img th:if="${not #strings.isEmpty(blog.blogCoverImage)}" class="lazyload" height="120" th:attr="data-src=${blog.blogCoverImage}">
					<div class="pl-3">
						<h3 class="mb-1 font-weight-bold">
						<a class="text-dark" th:href="@{'/txt/' + ${blog.blogId}}" th:text="${blog.blogTitle}"></a>
						</h3>
						<p th:text="${blog.blogRemark}"></p>
						<small class="text-muted" th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd HH:mm')}"></small>
					</div>
				</div>
				</th:block>
                <!-- Pagination-->
                <nav aria-label="Pagination">
                    <hr class="my-0" />
                    <ul class="pagination justify-content-center my-4">
                        <li class="page-item"><a class="page-link" href="/type/64" tabindex="-1" aria-disabled="true">Newer</a></li>
                        <li class="page-item active" aria-current="page"><a class="page-link" href="/type/64/1">1</a></li>
                        <li class="page-item"><a class="page-link" href="/type/64/2">2</a></li>
                        <li class="page-item"><a class="page-link" href="/type/64/3">3</a></li>
                        <li class="page-item"><a class="page-link" href="/type/64/4">15</a></li>
                        <li class="page-item"><a class="page-link" href="/type/64/5">Older</a></li>
                    </ul>
                </nav>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">搜索</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                            <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">分类</div>
                    <div class="card-body" th:fragment="hostMenu()">
                        <ul class="list-unstyled mb-0">
						    <li th:each="item,stat:${categoryList}">
						      <a th:href="@{'/type/' + ${item.categoryId}}" th:text="${item.categoryName}"></a>
						    </li>                        
						</ul>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header" th:text="${host.shortName}">Side Widget</div>
                    <div class="card-body" th:text="${host.description}"></div>
                </div>
            </div>
        </div>
</th:block>
</html>
