<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="Shortcut Icon" href="/favicon.ico" />
	<link rel="Bookmark" href="/favicon.ico" />
	<title>华润电力门户官网-欢迎您</title>
    <meta http-equiv="keywords" content="华润电力" />
    <meta http-equiv="description" content="华润电力" />
	<link rel="stylesheet" type="text/css" href="/tmpl/erj/res/public.css" />
	<link rel="stylesheet" type="text/css" href="/tmpl/erj/res/index.css" />
	<script type="text/javascript" src="/tmpl/erj/res/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/tmpl/erj/res/video.skin.css" />
	 <link rel="stylesheet" type="text/css" href="/tmpl/erj/res/crc.skin.css" />
	<script type="text/javascript" charset="utf-8" src="/tmpl/erj/res/video.all.js"></script>
	<script type="text/javascript" src="/tmpl/erj/res/jquery.SuperSlide.js"></script>
</head>
<body>
<div id="header">
        <div class="h_overlay">
        </div>
        <div class="header">
          <div class="w1000">
<style>
/* .logo{background:url('../../../../index/images/P020190115400278857345.png') left center no-repeat;width:289px;height:84px;}
.logo a{ display: inline-block; width: 145px; height: 70px;} */
.logo{
    width: auto;
    padding-top:18px;
}.main {float: left;width: 792px;_overflow: hidden;}
.logo a img{height:50px;}
.top_links{ margin-left: 70px;width: 480px;}
.header_right{width:711px;}
.nav li{ margin-left: 22px;}
</style>
                <h1 class="logo">

                   <!--<a style="width:124px;" href="http://www.crc.com.cn/80th/" target="_blank" title="华润80年 润物耕心"></a>-->
                   <!-- <a href="../../../../" title="华润电力"></a> -->
                   
                        <a class="logo-80th" href="">
                          <img src="/tmpl/erj/res/W020211213501658533671.png" />
                        </a>
                
                 <script>
                          var logolen = $(".logo-80th").length;
                          if (logolen == 2){
                              $(".logo-80th:first").css("border-right","1px solid gray");
                              $(".logo-80th:last").css("padding","6px");
                          } else {
                              $(".logo a img").css("height","60px");
                          }
                 </script>
                
                </h1>
                        <!--<img src="../../../../images/logo.png" width="270" height="70" class="png" /> -->



     
                <div class="header_right">

                    <div class="top">
                        <div class="top_links">
                            <a href="http://www.crc.com.cn/" target="_blank">CR Home</a>
                            <!--<a href="../../../../hrwq/">华润网群</a> -->
                            <a href="http://www.crc.com.cn/other/group/" target="_blank">华润网群</a>
                            <a href="../../../../hrdlws/">华润电力</a>
                            <a href="http://www.crc.com.cn/crcsong/">华润之歌</a>
                            <a href="/power_en/">English</a>
                            <a href="#" id="StranLink">繁体版</a>
                        </div>
                        <div class="search">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                        <input type="text" class="search_txt" id="search_cont" />
                                    </td>
                                    <td style="width:26px;">
                                        <input type="submit" onclick="GetSearch()" value="搜索" class="search_btn" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="web_other">
                            <div class="h1">
                                电力网群</div>
                            <div class="sub_web">
                                <ws_sitename></ws_sitename> 
                            </div>
                        </div>                    </div>
                    <div class="nav">
                        <ul>
                            
        <li><a href="../../../../index/">首页</a></li>
        <li><a href="../../../../about/">关于我们</a></li>
        <li><a href="../../../">新闻资讯</a></li>
        <li><a href="../../../../business/">主营业务</a></li>
        <li><a href="../../../../placer/">投资者关系</a></li>
        <li><a href="../../../../talent/">人才发展</a></li>
        <li><a href="../../../../duty/">社会责任</a></li>
        <li><a href="../../../../communicate/">信息公开</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
  </div>
    <div id="body">
        <div class="category_img">
            
                               <img src="/tmpl/erj/res/W020131210603420865370.jpg" width="1440" height="350" related="1" />

        </div>
        <div class="w1000">
            <div class="sidebar">
  <div class="submenu">
    
      <div class="submenu_box">
        <div class="munu_1"><a href="../../../../index/" data-id="6400">首页</a></div>
        <ul>
          
            <li>
              <div class="menu_2"><a href="../../../../index/banner/" data-id="6399">首页banner管理</a></div>
              <ul class="menu_3">
                
              </ul>
            </li>
          
            <li>
              <div class="menu_2"><a href="../../../../index/middlebanner/" data-id="6401">首页中间广告管理</a></div>
              <ul class="menu_3">
                
              </ul>
            </li>
          
            <li>
              <div class="menu_2"><a href="../../../../index/yqlj/" data-id="6413">友情链接管理</a></div>
              <ul class="menu_3">
                
              </ul>
            </li>
          
            <li>
              <div class="menu_2"><a href="../../../../index/logo/" data-id="21335">logo管理</a></div>
              <ul class="menu_3">
                
              </ul>
            </li>
          
            <li>
              <div class="menu_2"><a href="../../../../index/newVide16/" data-id="26354">视频</a></div>
              <ul class="menu_3">
                
              </ul>
            </li>
          
            <li>
              <div class="menu_2"><a href="../../../../index/dianli/" data-id="28374">电力预生产</a></div>
              <ul class="menu_3">
                
              </ul>
            </li>
          
        </ul>
      </div>
    
      <div class="submenu_box">
        <div class="munu_1"><a href="../../../../about/" data-id="6284">关于我们</a></div>
        <ul>
          
            <li>
              <div class="menu_2"><a href="../../../../about/ldzc/" data-id="6316">领导致辞</a></div>
              <ul class="menu_3">
                
              </ul>
            </li>
          
            <li>
              <div class="menu_2"><a href="../../../../about/gsgk/" data-id="6315">公司概况</a></div>
              <ul class="menu_3">
                <li><a href="../../../../about/gsgk/gsjj/" data-id="6318">-&nbsp;公司简介</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                <li><a href="../../../../about/gsgk/gsgkdsj/" data-id="19714">-&nbsp;董事局</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                <li><a href="../../../../about/gsgk/gltd/" data-id="6320">-&nbsp;管理团队</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                <li><a href="../../../../about/gsgk/jyyj/" data-id="6321">-&nbsp;经营业绩</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                <li><a href="../../../../about/gsgk/zzry/" data-id="6322">-&nbsp;资质荣誉</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      <li><a href="../../../../about/gsgk/zzry/hrdl/" data-id="6352">-&nbsp;华润电力</a>
                          <ul class="menu_5" style="display:none">
                            
                          </ul>
                      <li><a href="../../../../about/gsgk/zzry/xsqy/" data-id="6353">-&nbsp;下属企业</a>
                          <ul class="menu_5" style="display:none">
                            
                          </ul>
                      
                    </ul>
                  </li>
                <li><a href="../../../../about/gsgk/fzlc/" data-id="6323">-&nbsp;发展历程</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                <li><a href="../../../../about/gsgk/ywfb/" data-id="6326">-&nbsp;业务分布</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                
              </ul>
            </li>
          
            <li>
              <div class="menu_2"><a href="../../../../about/qywh/" data-id="6317">企业文化</a></div>
              <ul class="menu_3">
                <li><a href="../../../../about/qywh/whtx/" data-id="6324">-&nbsp;文化体系</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                <li><a href="../../../../about/qywh/rdr/" data-id="6327">-&nbsp;润电人</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      <li><a href="../../../../about/qywh/rdr/yscl/" data-id="6407">-&nbsp;艺术长廊</a>
                          <ul class="menu_5" style="display:none">
                            
                          </ul>
                      <li><a href="../../../../about/qywh/rdr/rdwy/" data-id="6409">-&nbsp;润电文苑</a>
                          <ul class="menu_5" style="display:none">
                            
                          </ul>
                      
                    </ul>
                  </li>
                
              </ul>
            </li>
          
        </ul>
      </div>
    
      <div class="submenu_box">
        <div class="munu_1"><a href="../../../" data-id="6285">新闻资讯</a></div>
        <ul>
          
            <li>
              <div class="menu_2"><a href="../../" data-id="6328">公司动态</a></div>
              <ul class="menu_3">
                <li><a href="../" data-id="6291">-&nbsp;公司要闻</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      <li><a href="./" data-id="6411">-&nbsp;综合新闻</a>
                          <ul class="menu_5" style="display:none">
                            
                          </ul>
                      <li><a href="../yjdt/" data-id="6385">-&nbsp;业绩动态</a>
                          <ul class="menu_5" style="display:none">
                            
                          </ul>
                      
                    </ul>
                  </li>
                <li><a href="../../news2/" data-id="6292">-&nbsp;下属企业动态</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                <li><a href="../../smgg/" data-id="6330">-&nbsp;声明公告</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                
              </ul>
            </li>
          
            <li>
              <div class="menu_2"><a href="../../../ztzl/" data-id="6329">专题专栏</a></div>
              <ul class="menu_3">
                <li><a href="../../../ztzl/ztzl2022/" data-id="29020">-&nbsp;2022</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                <li><a href="../../../ztzl/ztzl2021/" data-id="28377">-&nbsp;2021</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                <li><a href="../../../ztzl/ztzl2019/" data-id="26096">-&nbsp;2019</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      <li><a href="../../../ztzl/ztzl2019/2019content/" data-id="26097">-&nbsp;“绿色发展 美好生活”项目巡礼</a>
                          <ul class="menu_5" style="display:none">
                            
                          </ul>
                      <li><a href="../../../ztzl/ztzl2019/kfy2019/" data-id="26139">-&nbsp;从心出发绿色发展公众开放月</a>
                          <ul class="menu_5" style="display:none">
                            <li><a href="../../../ztzl/ztzl2019/kfy2019/open_2019_index/" data-id="26140">-&nbsp;首页</a> 
                            <li><a href="../../../ztzl/ztzl2019/kfy2019/open_2019_intro/" data-id="26141">-&nbsp;活动简介</a> 
                            <li><a href="../../../ztzl/ztzl2019/kfy2019/open_2019_news/" data-id="26142">-&nbsp;新闻动态</a> 
                            <li><a href="../../../ztzl/ztzl2019/kfy2019/open_2019_video/" data-id="26143">-&nbsp;精彩视频</a> 
                            <li><a href="../../../ztzl/ztzl2019/kfy2019/open_2019_media/" data-id="26144">-&nbsp;媒体报道</a> 
                            <li><a href="../../../ztzl/ztzl2019/kfy2019/open_2019_talk/" data-id="26145">-&nbsp;千人千语</a> 
                            <li><a href="../../../ztzl/ztzl2019/kfy2019/open_2019_pic/" data-id="26146">-&nbsp;千人千图</a> 
                            <li><a href="../../../ztzl/ztzl2019/kfy2019/open_2019_his/" data-id="26153">-&nbsp;往届回顾</a> 
                            
                          </ul>
                      
                    </ul>
                  </li>
                
              </ul>
            </li>
          
            <li>
              <div class="menu_2"><a href="../../../news4/" data-id="6294">视频专区</a></div>
              <ul class="menu_3">
                
              </ul>
            </li>
          
            <li>
              <div class="menu_2"><a href="../../../news3/" data-id="6293">媒体焦点</a></div>
              <ul class="menu_3">
                
              </ul>
            </li>
          
        </ul>
      </div>
    
      <div class="submenu_box">
        <div class="munu_1"><a href="../../../../business/" data-id="6286">主营业务</a></div>
        <ul>
          
            <li>
              <div class="menu_2"><a href="../../../../business/xnyyw/" data-id="6375">可再生能源</a></div>
              <ul class="menu_3">
                <li><a href="../../../../business/xnyyw/xnyywjj/" data-id="6386">-&nbsp;业务简介</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                <li><a href="../../../../business/xnyyw/xnygltd/" data-id="6387">-&nbsp;管理团队</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                <li><a href="../../../../business/xnyyw/xnyywfb/" data-id="6388">-&nbsp;业务分布</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                
              </ul>
            </li>
          
            <li>
              <div class="menu_2"><a href="../../../../business/hdyw/" data-id="6373">火电</a></div>
              <ul class="menu_3">
                <li><a href="../../../../business/hdyw/hdyw/" data-id="6377">-&nbsp;业务介绍</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                <li><a href="../../../../business/hdyw/hdgltd/" data-id="6378">-&nbsp;管理团队</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                <li><a href="../../../../business/hdyw/hdywfb/" data-id="6379">-&nbsp;业务分布</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                
              </ul>
            </li>
          
            <li>
              <div class="menu_2"><a href="../../../../business/zhnyfw/" data-id="19571">售电及综合能源</a></div>
              <ul class="menu_3">
                <li><a href="../../../../business/zhnyfw/ywjj/" data-id="19572">-&nbsp;业务简介</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                <li><a href="../../../../business/zhnyfw/gltd/" data-id="19574">-&nbsp;管理团队</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                <li><a href="../../../../business/zhnyfw/ywfb/" data-id="19573">-&nbsp;业务分布</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                
              </ul>
            </li>
          
        </ul>
      </div>
    
      <div class="submenu_box">
        <div class="munu_1"><a href="../../../../placer/" data-id="6289">投资者关系</a></div>
        <ul>
          
            <li>
              <div class="menu_2"><a href="../../../../placer/gsgz/" data-id="6340">公司管治</a></div>
              <ul class="menu_3">
                <li><a href="../../../../placer/gsgz/gzjg/" data-id="6402">-&nbsp;管治架构</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                <li><a href="../../../../placer/gsgz/dsj/" data-id="6403">-&nbsp;董事局</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      <li><a href="../../../../placer/gsgz/dsj/dsjcy/" data-id="6420">-&nbsp;董事局成员</a>
                          <ul class="menu_5" style="display:none">
                            
                          </ul>
                      
                    </ul>
                  </li>
                <li><a href="../../../../placer/gsgz/dsjwyh/" data-id="6404">-&nbsp;董事局委员会</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                <li><a href="../../../../placer/gsgz/fsgsdsmd/" data-id="16880">-&nbsp;附属公司董事名单</a>
                    <ul class="menu_4" style="display:none;padding-left:12px;">
                      
                    </ul>
                  </li>
                
              </ul>
            </li>
          
            <li>
              <div class="menu_2"><a href="../../../../placer/gpxx/" data-id="6341">股票信息</a></div>
              <ul class="menu_3">
                
              </ul>
            </li>
          
            <li>
              <div class="menu_2"><a href="../../../../placer/yjbg/" data-id="6342">年报/中报</a></div>
              <ul class="menu_3">
                
              </ul>
            </li>
          
            <li>
              <div class="menu_2"><a href="../../../../placer/gsgg/" data-id="6343">公司公告</a></div>
              <ul class="menu_3">
                
              </ul>
            </li>
          
            <li>
              <div class="menu_2"><a href="../../../../placer/tzzcx/" data-id="6344">投资者查询</a></div>
              <ul class="menu_3">
                
              </ul>
            </li>
          
        </ul>
      </div>
    
  </div>
  <div class="self" data-id="6411">综合新闻</div>
</div>
<script type="text/javascript">
    var selfId = $(".self").attr("data-id");
    if(selfId =="15996"|| selfId =="16033")
    {
        selfId ="6466";
    }

    $(".submenu a[data-id=" + selfId + "]").addClass("on")
	.parents(".submenu_box").show()
	.end().parents(".menu_3").prev(".menu_2").find("a").addClass("on");	
    $(".submenu a[data-id=" + selfId + "]").parents(".submenu_box").children("ul").children("li").last().css("border-bottom", "none");    
$(".menu_4 a").each(function(){
    if($(this).hasClass("on")){		
	$(this).parents(".menu_4").prev().addClass("on");		
        $(this).css("color","#693387");
        $(this).css("background","none");
    }

//if(selfId=="19714" || selfId=="19715")
//{
//    var dqdataid=$(this).attr("data-id");
//    if(dqdataid=="19714"|| dqdataid=="19715")
//   {
//     $(this).parents(".menu_4").show();
     //console.log(222);
//   }
//}

});
$("a:contains(招贤纳士)").attr("target","_blank");
$(".menu_3 a:contains(2013)").parents(".menu_3").hide();
$(".menu_3 a:contains(2019)").parents(".menu_3").hide();	
</script>
            <div class="main">
                <div class="location"><a href="../../../../" target="_self" title="首页" class="CurrChnlCls">首页</a>><a href="../../../" target="_self" title="新闻资讯" class="CurrChnlCls">新闻资讯</a>><a href="../../" target="_self" title="公司动态" class="CurrChnlCls">公司动态</a>><a href="../" target="_self" title="公司要闻" class="CurrChnlCls">公司要闻</a>><a href="./" target="_self" title="综合新闻" class="CurrChnlCls">综合新闻</a></div>
<h2 class="category_name">综合新闻</h2>
                <div class="content" style="margin-left:25px;">
                    <div class="honour_tab">
                        <a class="on" href="./">
                            综合新闻</a><a href="../yjdt/">业绩动态</a>
                    </div>
                    <div class="honour_contet">                       
                        <div class="hc_box" style="display: block">
                            <div class="news_company">
                                <div class="news_pic">
                                    <a href="javascript:;" class="np_last"></a>
                                    <div class="np_list">
										<ws_list size="10" tag="ul" id="picNew_NoPic">
										   <li>
										       <a target="_blank" href="{{link}}"><img src="{{img}}" width="174" height="115" /></a>
										       <h3><a target="_blank" href="{{link}}">{{title}}</a></h3>
											</li>
										</ws_list>
                                    </div>
                                    <a href="javascript:;" class="np_next"></a>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="w1000">
        <div class="footer_l">
            <div class="cuts">
                <a href="../../../../communicate/lxwm/">联系方式</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="../../../../sitemap/">网站地图</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="../../../../mzsm/">免责声明</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="../../../../ystk/">隐私条款</a>
            </div>
            <div class="copyright">
                Copyright &copy; <ws_sitename></ws_sitename>&nbsp;&nbsp;<a href="https://beian.miit.gov.cn/" rel="noreferrer" target="_blank" style="color:#9b9997" id="beian"></a>&nbsp;&nbsp;技术支持：深圳市润电信息科技有限公司
         <ul style="display:none;" id="beian_list">
             
                <li data-title="www.cr-power.com/power_en" data-content="粤ICP备11065887号"></li>
             
                <li data-title="www.cr-power.com" data-content="粤ICP备11065887号"></li>
             
         </ul>
            </div>
        </div>
        <div class="footer_r">
            <select class="links">
                <option value="">友情链接</option>

                <option value="http://www.crc.com.cn">华润集团</option>               

                <option value="http://www.cre.com.hk">华润创业</option>               

                <option value="http://www.crland.com.hk">华润置地</option>               

                <option value="http://www.crcement.com">华润水泥</option>               

                <option value="http://www.crcgas.com">华润燃气</option>               

                <option value="http://www.crpharm.com">华润医药</option>               

                <option value="http://www.crcapital.com.hk">华润金融</option>               

                <option value="http://www.mee.gov.cn/">国家生态环境部</option>               

                <option value="https://www.mem.gov.cn">国家应急管理部</option>               

                <option value="http://www.sdpc.gov.cn/">国家发展和改革委员会</option>               

                <option value="http://www.sasac.gov.cn">国务院国有资产监督管理委员会</option>               

                <option value="http://www.cec.org.cn/">中国电力企业联合会</option>               

                <option value="http://www.cpnn.com.cn/">中国电力新闻网</option>               

            </select>
        </div>
    </div>
</body>
</html>