<!doctype html>
<html lang="zh-CN">
 <head>    
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">     
  <title>
        产品中心-
            连兴旺电子(深圳)有限公司    </title>   
  <link rel="stylesheet" href="/tmpl/0971b/res/animate.min.css"> 
  <link rel="stylesheet" href="/tmpl/0971b/res/swiper.min.css"> 
  <link rel="stylesheet" href="/tmpl/0971b/res/yunu.css">  
  <link rel="stylesheet" href="/tmpl/0971b/res/media.css"> 
  <link rel="stylesheet" href="/tmpl/0971b/res/aos.css">      
  <meta charset="UTF-8">
 </head> 
 <body> 
  <div class="topbar wow fadeInDown mshow_header"> 
   <div class="container clearfix"> 
    <span class="fr" style="font-family: 微软雅黑;letter-spacing: 3px;"> <a href="#" rel="nofollow">联系我们</a> <em>|</em> <a href="#" rel="nofollow">更多分站</a> </span> 
    <span style="font-family: 微软雅黑;letter-spacing: 3px;">欢迎来到 <ws_sitename></ws_sitename></span> 
   </div> 
  </div> 
  <div class="header mshow_header"> 
   <div class="container clearfix"> 
    <a href="#" class="menu-btn" rel="nofollow"><span></span></a> 
    <div class="logo img-center wow fadeInLeft" style="position: relative;top: 10px;">
     <a href="#" rel="nofollow"><img src="/tmpl/0971b/res/4fda3e8c3c4cc6eac3f59fdd598e3f44.png"></a>
    </div> 
    <div class="text wow zoomIn">
     <strong><ws_sitename></ws_sitename></strong> 
     <i style="font-family: Helvetica;letter-spacing: 4px;">Lxwconn electronics(shenzhen)Co.,Ltd</i>
    </div> 
    <div class="tel wow bounce">
     <span style="letter-spacing: 2px;">全国服<br>务热线</span>
     <strong style="color:#d01927;line-height: 32px;font-size: 20px;position: relative; top:-7px;"> 0755-29591214<br> 18028761638</strong>
    </div> 
   </div> 
   <div class="nav"> 
    <div class="container"> 
     <ul> 
      <li class="dropdown active"> <i class="arr"></i> <a href="#" rel="nofollow">产品中心</a> 
       <div class="dropdown-box"> 
        <p><a href="#" rel="nofollow">板对板连接器系列</a></p> 
        <p><a href="#" rel="nofollow">排针连接器系列</a></p> 
        <p><a href="#" rel="nofollow">排母连接器系列</a></p> 
        <p><a href="#" rel="nofollow">FPC/FFC系列</a></p> 
        <p><a href="#" rel="nofollow">WAFER连接器系列</a></p> 
        <p><a href="#" rel="nofollow">HDMI接口系列</a></p> 
        <p><a href="#" rel="nofollow"> 简牛FC/牛角FD系列</a></p> 
        <p><a href="#" rel="nofollow">USB/防水USB接口系列</a></p> 
        <p><a href="#" rel="nofollow">TYPE C接口系列</a></p> 
        <p><a href="#" rel="nofollow">SCSI连接器系列</a></p> 
        <p><a href="#" rel="nofollow">PCI/MINI PCI系列</a></p> 
        <p><a href="#" rel="nofollow">SATA 系 列</a></p> 
        <p><a href="#" rel="nofollow">LVDS 系 列</a></p> 
        <p><a href="#" rel="nofollow">卡 座 系 列</a></p> 
        <p><a href="#" rel="nofollow">接线端子系列</a></p> 
        <p><a href="#" rel="nofollow">D-SUB接口系列</a></p> 
        <p><a href="#" rel="nofollow">RJ45/RJ11系列</a></p> 
        <p><a href="#" rel="nofollow">航空插座系列</a></p> 
        <p><a href="#" rel="nofollow">电池座系列</a></p> 
        <p><a href="#" rel="nofollow">射频连接器系列</a></p> 
        <p><a href="#" rel="nofollow">SLOT金手指系列</a></p> 
       </div> </li> 
      <li class=""> <a href="#" rel="nofollow">线材选型</a> </li> 
      <li class=""> <a href="#" rel="nofollow">技术参数</a> </li> 
      <li class="dropdown"> <i class="arr"></i> <a href="#" rel="nofollow">新闻资讯</a> 
       <div class="dropdown-box"> 
        <p><a href="#" rel="nofollow">公司资讯</a></p> 
        <p><a href="#" rel="nofollow">行业动态</a></p> 
        <p><a href="#" rel="nofollow">产品知识</a></p> 
        <p><a href="#" rel="nofollow">常见问答</a></p> 
       </div> </li> 
      <li class=""> <a href="#" rel="nofollow">关于LXW</a> </li> 
      <li class="dropdown"> <i class="arr"></i> <a href="#" rel="nofollow">联系我们</a> 
       <div class="dropdown-box"> 
        <p><a href="#" rel="nofollow">联系我们</a></p> 
        <p><a href="#" rel="nofollow">在线留言</a></p> 
       </div> </li> 
      <li><a href="#" rel="nofollow"><span style="color:red">语 言 &gt;&gt;中 文</span></a></li> 
      <li><a href="#" rel="nofollow"><span>English</span></a></li> 
      <li><a href="#" rel="nofollow"><span>日本語</span></a></li> 
      <li><a href="#" rel="nofollow"><span>한국어</span></a></li> 
      <li><a href="#" rel="nofollow"><span>En français</span></a></li> 
      <li><a href="#" rel="nofollow"><span>Deutsch</span></a></li> 
      <li><a href="#" rel="nofollow"><span>русский</span></a></li> 
      <li><a href="#" rel="nofollow"><span>español</span></a></li> 
      <li><a href="#" rel="nofollow"><span>português</span></a></li> 
      <li><a href="#" rel="nofollow"><span>italiano</span></a></li> 
      <li><a href="#" rel="nofollow"><span>Việt nam</span></a></li> 
      <li><a href="#" rel="nofollow"><span>Bahasa indonesia</span></a></li> 
      <li><a href="#" rel="nofollow"><span>العربية</span></a></li> 
     </ul> 
    </div> 
   </div> 
  </div> 
  <div class="header_xin clearfix"> 
   <div class="container clearfix"> 
    <div class="box clearfix  wow fadeInDown"> 
     <div class="xinlogo" style="animation:pulse 2s linear 1s infinite normal;-webkit-animation:pulse 2s linear 1s infinite normal;"> 
      <div class="wow rotateInDownLeft"> 
       <a href="#" rel="nofollow"> <img src="/tmpl/0971b/res/4fda3e8c3c4cc6eac3f59fdd598e3f44.png"> </a>
      </div> 
     </div> 
     <div class="xin_nav"> 
      <ul> 
       <li> <a href="#" rel="nofollow">产品中心</a> 
        <div class="li_text"> 
         <div class="text clearfix"> 
          <h4> <a href="#" rel="nofollow">连兴旺连接器<i> &gt;</i></a> <a href="#" style="margin-left: 39%;" rel="nofollow">LXWConn<i> &gt;</i></a> </h4> 
          <div class="list clearfix"> 
           <p><a href="#" rel="nofollow">板对板连接器系列</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">排针连接器系列</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">排母连接器系列</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">FPC/FFC系列</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">WAFER连接器系列</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">HDMI接口系列</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow"> 简牛FC/牛角FD系列</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">USB/防水USB接口系列</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">TYPE C接口系列</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">SCSI连接器系列</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">PCI/MINI PCI系列</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">SATA 系 列</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">LVDS 系 列</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">卡 座 系 列</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">接线端子系列</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">D-SUB接口系列</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">RJ45/RJ11系列</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">航空插座系列</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">电池座系列</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">射频连接器系列</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">SLOT金手指系列</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">IPEX座及线</a><i> &gt;&gt; </i></p> 
          </div> 
          <div class="more_a" style="margin-left: 43%; margin-top:25px"> 
           <a href="#" rel="nofollow">查看更多产品&gt;&gt; </a> 
          </div> 
          <div class="more_a1"> 
           <span class="more_a11"> <a href="#" rel="nofollow"><img src="/tmpl/0971b/res/8e659be681d7e39e35176909b5de4825.jpg"></a></span> 
           <span class="more_a22"> <a href="#" rel="nofollow">公司先后引进了国内外先进的冲压机，注塑机及各种精密测试仪器。并拥有一支高素质，高科技专业人才和管理人才为主的技术队伍和营销管理队伍。能够时刻把握市场脉搏，关注市场动向，掌握最新资讯，开发出让客户满意，消费者认同的新产品。公司尊崇“踏实、拼搏、责任”的企业精神，并以诚信、共赢、开创经营理念，创造良好的企业环境，以全新的管理模式，完善的技术，周到的服务，优良的品质为生存根本，我们始终坚持用户至上 用心服务于客户，坚持用自己的服务去打动客户......</a> </span> 
          </div> 
         </div> 
        </div></li> 
       <li class="lits"> <a href="#" rel="nofollow">线材选型</a> </li> 
       <li class="lits"> <a href="#" rel="nofollow">技术参数</a> </li> 
       <li class="lits"> <a href="#" rel="nofollow">新闻资讯</a> 
        <div class="li_text divts"> 
         <div class="text clearfix"> 
          <h4> <a href="#" rel="nofollow">新闻资讯<i> &gt;</i></a> </h4> 
          <div class="list clearfix"> 
           <p><a href="#" rel="nofollow">公司资讯</a><i> &gt;&gt;</i></p> 
           <p><a href="#" rel="nofollow">行业动态</a><i> &gt;&gt;</i></p> 
           <p><a href="#" rel="nofollow">产品知识</a><i> &gt;&gt;</i></p> 
           <p><a href="#" rel="nofollow">常见问答</a><i> &gt;&gt;</i></p> 
          </div> 
          <div class="right clearfix"> 
           <a href="#" rel="nofollow"><img src="/tmpl/0971b/res/20180302154840853407.jpg"></a> 
           <h4> <a href="#" rel="nofollow">连兴旺电子(深圳)有限公司是一家集专业设计开发、生产、销售各种精密连接器和接插件的专业厂商，拥有雄厚的技术力量、熟练的生产工人、优良的制作工艺的生产设备。</a> </h4> 
           <span> <a href="#" rel="nofollow">产品广泛应用于计算机主机板、液晶显示器、电讯卡、存储器、移动硬盘、读卡器、数码相机、MP3、PDA、液晶电视、交换机、汽车防盗器、可视电话、无绳电话及各种通讯设备产品上。</a> </span> 
          </div> 
         </div> 
        </div> </li> 
       <li class="lits"> <a href="#" rel="nofollow">关于LXW</a> </li> 
       <li class="lits"> <a href="#" rel="nofollow">联系我们</a> 
        <div class="li_text divts"> 
         <div class="text clearfix"> 
          <h4> <a href="#" rel="nofollow">联系我们<i> &gt;</i></a> </h4> 
          <div class="list clearfix"> 
           <p><a href="#" rel="nofollow">联系我们</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">在线留言</a><i> &gt;&gt; </i></p> 
          </div> 
          <div class="right clearfix"> 
           <h4> <a href="#" rel="nofollow">连兴旺坚持以"客户至上，品质，真诚服务，绿色健康"的经营理念，持续提升品质，降低成本满足客户需要，提升客户产品的竞争力，实现客户价值！</a> </h4> 
           <div style="width:600px"> 
            <a href="#" rel="nofollow"><img src="/tmpl/0971b/res/1596602df53417e87c688f8f3cff5415.jpg"></a> 
           </div> 
          </div> 
         </div> 
        </div> </li> 
      </ul> 
     </div> 
     <div class="form_search"> 
      <form id="myform1"> 
       <input type="hidden" name="cid" value="102"> 
       <input class="inp1" type="text" name="key" placeholder="请输入产品内容"> 
       <input class="inp2" type="submit" value="搜  索"> 
      </form> 
     </div> 
     <div class="gw_btn"> 
      <p> <a href="#" rel="nofollow">登 陆</a> </p>
      <div class="cidbtn clearfix"> 
       <div class="pos_ab"> 
        <div class="btn_cid">
         <b><img src="/tmpl/0971b/res/cn.jpg"></b>
         <span>中文</span>
         <i></i>
        </div> 
        <div class="language_list"> 
         <ul> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/cn.jpg"></b><span>中 文</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/en.gif"></b><span>English</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/ja.gif"></b><span>日本語</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/ko.gif"></b><span>한국어</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/fr.gif"></b><span>En français</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/de.gif"></b><span>Deutsch</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/ru.gif"></b><span>русский</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/es.gif"></b><span>español</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/pt.gif"></b><span>português</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/it.gif"></b><span>italiano</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/vi.gif"></b><span>Việt nam</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/id.gif"></b><span>Bahasa indonesia</span></a> </li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/ar.gif"></b><span>العربية</span></a></li> 
         </ul> 
        </div> 
       </div> 
      </div>  
      <!--<a href="/language/en.html">English</a>--> 
      <p></p> 
      <a href="#" class="btn1" rel="nofollow"><span>在线采购</span></a> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="headmt85"></div> 
  <div class="pos_fix"> 
   <div class="text"> 
    <ul> 
     <li> <a href="#" rel="nofollow"><img class="wx" src="/tmpl/0971b/res/ic_weix.png"></a> 
      <div class="li_text"> 
       <div class="li_text2"> 
        <p> <img src="/tmpl/0971b/res/b8682beee1e058e3ee74e0f04075eb71.jpg"> </p> 
       </div> 
      </div> </li> 
     <li> <a class="IM-item-link IM-qq" style="height:25px;" href="#" rel="nofollow"><img src="/tmpl/0971b/res/ic_qq.png"></a> 
      <div class="li_text"> 
       <div class="li_text2"> 
        <p><a class="IM-item-link IM-qq" style="height:25px;" href="#" rel="nofollow"> <img src="/tmpl/0971b/res/ic_qq.png"> QQ在线咨询 </a></p> 
       </div> 
      </div> </li> 
     <li> <a href="#" rel="nofollow"><img class="dianh" src="/tmpl/0971b/res/ic_dianh.png"></a> 
      <div class="li_text"> 
       <div class="li_text2"> 
        <p>咨询热线： 18028761638 </p> 
       </div> 
      </div> </li> 
     <li> <a href="#" class="btn1" rel="nofollow"><img class="ly" src="/tmpl/0971b/res/icon_ly.png"></a> 
      <div class="li_text"> 
       <div class="li_text2"> 
        <p><a href="#" class="btn1" rel="nofollow">点击填写采购内容</a></p> 
       </div> 
      </div> </li> 
     <li class="top_btn"> <a href="#" rel="nofollow"><img src="/tmpl/0971b/res/ic_top.png"></a> </li> 
    </ul> 
   </div> 
  </div>  
  <div id="message"> 
   <div class="messagebg"></div> 
   <div class="m-content"> 
    <div class="m-message"> 
     <form id="myform1"> 
      <input type="hidden" name="__token__" value="1d2d0e7287d97c81dc3b0ed0a9001964"> 
      <input type="hidden" name="__formid__" value="1"> 
      <input type="hidden" name="__returntype__" value="default"> 
      <span style="margin-top: 0px;	margin-right: 0px;margin-bottom: 0px;margin-left: 0px;width: 100%;font-size: 24px;	font-weight: bolder; text-align: center; line-height: 3em; float: left;clear: right;position: relative;">订 购 表 单</span> 
      <label> <span>产品名称：</span> <input class="inp" type="text" name="titles" placeholder="请输入您要订购的产品名称"></label> 
      <label> <span>您的姓名：</span> <input class="inp" type="text" name="name" placeholder="请输入您的姓名"> </label> 
      <label> <span>联系电话：</span> <input class="inp" type="text" name="phone" placeholder="请输入您的电话"> </label> 
      <label class="mes"> <span>订购备注：</span> <textarea name="yuanwang" type="text" placeholder="请输入您需要采购产品的数量和要求，或者您的建议！"></textarea> </label> 
      <label class="code"> <span>验证码：</span> <input type="text" name="__captcha1__"> 
       <div class="pic"> 
        <img src="/tmpl/0971b/res/1" style="height:35px; width:100px;"> 
       </div> </label> 
      <div class="btn1-1"> 
       <input class="focus" type="submit" value="提交"> 
       <input type="reset" value="重置"> 
      </div> 
      <div style="margin-top: 20px; width: 100%; font-size: 14px;	font-weight: bolder; text-align: center; line-height:2em;"> 
       <span>*：您的建议或订购，我们客服随时关注，收到信息后，我们将在2小时内给您回复！</span>
      </div> 
     </form>  
    </div> 
   </div> 
  </div>  
  <div class="banner-sub wow fadeInDown" style="background-image: url(''),url('/uploads/image/20211026/89beb13e7332e0032f7daecf7dcde84b.jpg'),url('/uploads/image/20211026/89beb13e7332e0032f7daecf7dcde84b.jpg'"></div> 
  <div class="section-sub"> 
   <div class="container"> 
    <div class="ct2 clearfix"> 
     <div class="sub-tit"> 
      <div class="curmbs"> 
       <span>您的位置：</span> 
       <a href="#" rel="nofollow">首页</a>&gt;&gt;
       <a href="#" rel="nofollow">产品中心</a> 
      </div> 产品中心 
     </div> 
     <div class="product_menu"> 
      <div class="container clearfix"> 
       <div class="list clearfix"> 
        <ul> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/e72a7833a06b3eda78ab07cc9e707e2b.png"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">板对板连接器系列</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/d4c65af22ad579f342181366cbc6975b.jpg"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">排针连接器系列</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/72eef081d65e8e0d211872b4d163e848.png"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">排母连接器系列</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/59ad1ac0a6e4aab41b39beccc883abba.png"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">FPC/FFC系列</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/b3c0be7b9e38651a07e15ed3ac752541.jpg"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">WAFER连接器系列</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/99609fee4c54d18f2753a71142ceeb3f.jpg"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">HDMI接口系列</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/052b8b4bb2f88f03b176df1864c046b3.png"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> 简牛FC/牛角FD系列</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/48b28e351d14072b527fa5aa1f230ec8.png"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">USB/防水USB接口系列</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/0b49c00fa64ef057a4cf26c7b6f1aca0.png"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">TYPE C接口系列</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/ca86177f551eeff0fe7573053bae98dc.png"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">SCSI连接器系列</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/4300e2873fcd0c33ff54624ad3d9c039.png"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">PCI/MINI PCI系列</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/faca87297c3a189e2e3fc12c2475c2c1.jpg"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">SATA 系 列</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/45876ff9f9eaba456d24be18c545d371.jpg"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">LVDS 系 列</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/775a3611908a51fda86b4fdac2c7e96c.png"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">卡 座 系 列</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/a032e10626e14aeee4f4ab233b762ca5.jpg"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">接线端子系列</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/69fe41cdef52fdd8fcf72b5b7e5af769.png"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">D-SUB接口系列</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/78447f3142e9088581267aef86adc32c.png"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">RJ45/RJ11系列</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/924515dcfdd9f3971391664ef016f51e.jpg"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">航空插座系列</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/b8bf12b44c42d44f2ec0330ddcfe4ee3.png"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">电池座系列</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/a9d008da020bb87c0c17213037d96bbf.png"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">射频连接器系列</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/1475e57f814114877269d1f91902bdbc.jpg"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">SLOT金手指系列</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
         <li data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> <a href="#" rel="nofollow"> 
           <div class="pic"> 
            <img src="/tmpl/0971b/res/8e659be681d7e39e35176909b5de4825.jpg"> 
           </div> 
           <div class="text"> 
            <p><span data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">IPEX座及线</span></p> 
            <i></i> 
           </div> 
           <div class="libg"></div> </a> </li> 
        </ul> 
       </div> 
      </div> 
     </div> 
     <div class="yunu-link"> 
      <h4>地区产品 <small>/ city</small></h4> 
      <ul class="clearfix"> 
       <li><a href="#" rel="nofollow">北京产品中心</a></li> 
       <li><a href="#" rel="nofollow">重庆产品中心</a></li> 
       <li><a href="#" rel="nofollow">吉林产品中心</a></li> 
       <li><a href="#" rel="nofollow">上海产品中心</a></li> 
       <li><a href="#" rel="nofollow">天津产品中心</a></li> 
      </ul> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="footer clearfix"> 
   <div class="fnav"> 
    <a href="#" rel="nofollow">网站首页</a>/
    <a href="#" rel="nofollow">产品中心</a>/
    <a href="#" rel="nofollow">线材选型</a>/
    <a href="#" rel="nofollow">技术参数</a>/
    <a href="#" rel="nofollow">新闻资讯</a>/
    <a href="#" rel="nofollow">关于LXW</a>/
    <a href="#" rel="nofollow">联系我们</a>
   </div> 
   <div class="container clearfix"> 
    <div class="flogo"> 
     <a href="#" rel="nofollow"><h1>连兴旺电子(深圳)有限公司</h1><p>公司经营板对板连接器、TF卡座、SD卡座、FPC座、HDMI接口、USB接口、排针排母...</p></a> 
    </div> 
    <div class="contact"> 
     <dl> 
      <dt data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">
       <img src="/tmpl/0971b/res/f_ico1.png">
      </dt> 
      <dd data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> 
       <h4>关于我们</h4> 
       <p>连兴旺电子(深圳)有限公司</p> 
       <p>公司地址：深圳宝安区西乡街道宝田二路6号雍华源商务大厦A2004-2005室</p> 
       <p>线对板连接器,线对线连接器,汽车连接器...</p> 
      </dd> 
     </dl> 
     <dl data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> 
      <dt>
       <img src="/tmpl/0971b/res/f_ico2.png">
      </dt> 
      <dd> 
       <h4>联系方式</h4> 
       <p>联系人：朱经理</p> 
       <p>手　机：18028761638</p> 
       <p>邮　箱：a15899769100@126.com</p> 
       <p>板对板连接器,排针,排母,接线端子,连接线</p> 
      </dd> 
     </dl> 
    </div> 
   </div> 
   <div class="footer-copy">
    版权所有：连兴旺电子(深圳)有限公司　备案号：
    <a href="#" rel="nofollow">粤ICP备16076265号</a>
   </div> 
  </div> 
  <div class="footer-fix"> 
   <ul class="clearfix"> 
    <li><a href="#" rel="nofollow"><i class="i1"></i>网站首页</a></li> 
    <li><a href="#" rel="nofollow"><i class="i3"></i>关于连兴旺</a></li> 
    <li><a href="#" rel="nofollow"><i class="i2"></i>产品中心</a></li> 
    <li><a href="#" rel="nofollow"><i class="i4"></i>技术参数</a></li> 
    <li><a href="#" rel="nofollow"><i class="i5"></i>联系我们</a></li> 
   </ul> 
  </div> <ws_link></ws_link>
 </body>
</html>