<!DOCTYPE html>
<html lang="cn" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{mclose/layout.html}">
<head>
<title th:text="${host.title}"></title>
<meta name="keywords" th:content="${host.keywords}">
<meta name="description" th:content="${host.description}">
</head>
<th:block layout:fragment="content">


<div role="main">

<div role="main">
	<div class="cover">
	    <h1>反馈已收录 <small>ok</small></h1>
	    <p class="lead">你反馈的错误链接系统已收录！</p>
	</div>
	
	
<div class="mb-4">
	<h2 class="font-weight-bold spanborder m-2"><span>相关阅读</span></h2>
	<div class="row">
	<div class="col-md-8 pt0">
		<th:block th:if="${news!=null}" th:each="item,stat:${news}">
		<div class="mb-3 p-2 d-flex align-items-center">
			<img th:if="${#strings.isEmpty(item.blogCoverImage)}" height="80" src="/static/blog/coffee.png">
			<img th:if="${not #strings.isEmpty(item.blogCoverImage)}" height="80" th:src="${item.blogCoverImage}">
			<div class="pl-3">
				<h3 class="mb-2 h6 font-weight-bold">
				<a class="text-dark" th:href="|/blog/${item.blogId}|" th:text="${item.blogTitle}"></a>
				</h3>
				<div class="card-text text-muted small" th:text="${item.blogRemark}">Jake Bittle in LOVE/HATE</div>
				<small class="text-muted" th:text="${#dates.format(item.updateTime,'yyyy-MM-dd HH:mm:ss')}">Dec 12 · 5 min read</small>
			</div>
		</div>
		</th:block>
	</div>
	<div class="col-md-4 pl0 pt0 d-none d-md-block">
	    <h4 class="font-italic">文章分类</h4>
		<ul>
		  <li th:each="item,stat:${categoryList}"><a th:href="@{'/type/' + ${item.categoryId}}" th:text="${item.categoryName}"></a></li>
		</ul>
	</div>
	</div>
</div>

</div>

</div>

</th:block>

</html>
