<!doctype html>
<html lang="zh-CN">
 <head>    
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">     
  <title>城市分站-连兴旺电子(深圳)有限公司</title>   
  <link rel="stylesheet" href="/tmpl/0971b/res/animate.min.css"> 
  <link rel="stylesheet" href="/tmpl/0971b/res/swiper.min.css"> 
  <link rel="stylesheet" href="/tmpl/0971b/res/yunu.css">  
  <link rel="stylesheet" href="/tmpl/0971b/res/media.css">      
  <meta charset="UTF-8">
 </head> 
 <body> 
  <div class="topbar wow fadeInDown mshow_header"> 
   <div class="container clearfix"> 
    <span class="fr" style="font-family: 微软雅黑;letter-spacing: 3px;"> <a href="#" rel="nofollow">联系我们</a> <em>|</em> <a href="#" rel="nofollow">更多分站</a> </span> 
    <span style="font-family: 微软雅黑;letter-spacing: 3px;">欢迎来到 连兴旺电子(深圳)有限公司官网 ！</span> 
   </div> 
  </div> 
  <div class="header_xin clearfix"> 
   <div class="container clearfix"> 
    <div class="box clearfix  wow fadeInDown"> 
     <div class="xinlogo" style="animation:pulse 2s linear 1s infinite normal;-webkit-animation:pulse 2s linear 1s infinite normal;"> 
      <div class="wow rotateInDownLeft"> 
       <a href="#" rel="nofollow"> <img src="/tmpl/0971b/res/4fda3e8c3c4cc6eac3f59fdd598e3f44.png"> </a>
      </div> 
     </div> 
     <div class="xin_nav"> 
      <ul> 
       <li> <a href="#" rel="nofollow">产品中心</a> 
        <div class="li_text"> 
         <div class="text clearfix"> 
          <h4> <a href="#" rel="nofollow">连兴旺连接器<i> &gt;</i></a> <a href="#" style="margin-left: 39%;" rel="nofollow">LXWConn<i> &gt;</i></a> </h4> 
          <div class="list clearfix"> 
           <ws_list>
           <p><a href="#" rel="nofollow">{{title}}</a><i> &gt;&gt; </i></p> 
           </ws_list>
          </div> 
          <div class="more_a" style="margin-left: 43%; margin-top:25px"> 
           <a href="#" rel="nofollow">查看更多产品&gt;&gt; </a> 
          </div> 
          <div class="more_a1"> 
           <span class="more_a11"> <a href="#" rel="nofollow"><img src="/tmpl/0971b/res/8e659be681d7e39e35176909b5de4825.jpg"></a></span> 
           <span class="more_a22"> <a href="#" rel="nofollow">公司<ws_title></ws_title>先后引进了国内外先进的冲压机，注塑机及各种精密测试仪器。<ws_title></ws_title>并拥有一支高素质，高科技专业人才和管理人才为主的技术队伍和营销管理队伍。能够时刻把握市场脉搏，关注市场动向，掌握最新资讯，开发出让客户满意，消费者认同的新产品。公司尊崇“踏实、<ws_title></ws_title>拼搏、责任”的企业精神，并以诚信、共赢、开创经营理念，创造良好的企业环境，以全新的管理模式，完善的技术，周到的服务，优良的品质为生存根本，我们始终坚持用户至上 用心服务于客户，<ws_title></ws_title>坚持用自己的服务去打动客户......</a> </span> 
          </div> 
         </div> 
        </div></li> 
       <li class="lits"> <a href="#" rel="nofollow">线材选型</a> </li> 
       <li class="lits"> <a href="#" rel="nofollow">技术参数</a> </li> 
       <li class="lits"> <a href="#" rel="nofollow">新闻资讯</a> 
        <div class="li_text divts"> 
         <div class="text clearfix"> 
          <h4> <a href="#" rel="nofollow">新闻资讯<i> &gt;</i></a> </h4> 
          <div class="list clearfix"> 
           <p><a href="#" rel="nofollow">公司资讯</a><i> &gt;&gt;</i></p> 
           <p><a href="#" rel="nofollow">行业动态</a><i> &gt;&gt;</i></p> 
           <p><a href="#" rel="nofollow">产品知识</a><i> &gt;&gt;</i></p> 
           <p><a href="#" rel="nofollow">常见问答</a><i> &gt;&gt;</i></p> 
          </div> 
          <div class="right clearfix"> 
           <a href="#" rel="nofollow"><img src="/tmpl/0971b/res/20180302154840853407.jpg"></a> 
           <h4> <a href="#" rel="nofollow">连兴旺电子(深圳)有限公司是一家集专业设计开发、生产、销售各种精密连接器和接插件的专业厂商，拥有雄厚的技术力量、熟练的生产工人、优良的制作工艺的生产设备。</a> </h4> 
           <span> <a href="#" rel="nofollow">产品广泛应用于计算机主机板、液晶显示器、电讯卡、存储器、移动硬盘、读卡器、数码相机、MP3、PDA、液晶电视、交换机、汽车防盗器、可视电话、无绳电话及各种通讯设备产品上。</a> </span> 
          </div> 
         </div> 
        </div> </li> 
       <li class="lits"> <a href="#" rel="nofollow">关于LXW</a> </li> 
       <li class="lits"> <a href="#" rel="nofollow">联系我们</a> 
        <div class="li_text divts"> 
         <div class="text clearfix"> 
          <h4> <a href="#" rel="nofollow">联系我们<i> &gt;</i></a> </h4> 
          <div class="list clearfix"> 
           <p><a href="#" rel="nofollow">联系我们</a><i> &gt;&gt; </i></p> 
           <p><a href="#" rel="nofollow">在线留言</a><i> &gt;&gt; </i></p> 
          </div> 
          <div class="right clearfix"> 
           <h4> <a href="#" rel="nofollow">连兴旺坚持以"客户至上，品质，真诚服务，绿色健康"的经营理念，持续提升品质，降低成本满足客户需要，提升客户产品的竞争力，实现客户价值！</a> </h4> 
           <div style="width:600px"> 
            <a href="#" rel="nofollow"><img src="/tmpl/0971b/res/1596602df53417e87c688f8f3cff5415.jpg"></a> 
           </div> 
          </div> 
         </div> 
        </div> </li> 
      </ul> 
     </div> 
     <div class="form_search"> 
      <form id="myform1"> 
       <input type="hidden" name="cid" value="102"> 
       <input class="inp1" type="text" name="key" placeholder="请输入产品内容"> 
       <input class="inp2" type="submit" value="搜  索"> 
      </form> 
     </div> 
     <div class="gw_btn"> 
      <p> <a href="#" rel="nofollow">登 陆</a> </p>
      <div class="cidbtn clearfix"> 
       <div class="pos_ab"> 
        <div class="btn_cid">
         <b><img src="/tmpl/0971b/res/cn.jpg"></b>
         <span>中文</span>
         <i></i>
        </div> 
        <div class="language_list"> 
         <ul> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/cn.jpg"></b><span>中 文</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/en.gif"></b><span>English</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/ja.gif"></b><span>日本語</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/ko.gif"></b><span>한국어</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/fr.gif"></b><span>En français</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/de.gif"></b><span>Deutsch</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/ru.gif"></b><span>русский</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/es.gif"></b><span>español</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/pt.gif"></b><span>português</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/it.gif"></b><span>italiano</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/vi.gif"></b><span>Việt nam</span></a></li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/id.gif"></b><span>Bahasa indonesia</span></a> </li> 
          <li><a href="#" rel="nofollow"><b><img src="/tmpl/0971b/res/ar.gif"></b><span>العربية</span></a></li> 
         </ul> 
        </div> 
       </div> 
      </div>  
      <!--<a href="/language/en.html">English</a>--> 
      <p></p> 
      <a href="#" class="btn1" rel="nofollow"><span>在线采购</span></a> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="headmt85"></div> 
  <div class="pos_fix"> 
   <div class="text"> 
    <ul> 
     <li> <a href="#" rel="nofollow"><img class="wx" src="/tmpl/0971b/res/ic_weix.png"></a> 
      <div class="li_text"> 
       <div class="li_text2"> 
        <p> <img src="/tmpl/0971b/res/b8682beee1e058e3ee74e0f04075eb71.jpg"> </p> 
       </div> 
      </div> </li> 
     <li> <a class="IM-item-link IM-qq" style="height:25px;" href="#" rel="nofollow"><img src="/tmpl/0971b/res/ic_qq.png"></a> 
      <div class="li_text"> 
       <div class="li_text2"> 
        <p><a class="IM-item-link IM-qq" style="height:25px;" href="#" rel="nofollow"> <img src="/tmpl/0971b/res/ic_qq.png"> QQ在线咨询 </a></p> 
       </div> 
      </div> </li> 
     <li> <a href="#" rel="nofollow"><img class="dianh" src="/tmpl/0971b/res/ic_dianh.png"></a> 
      <div class="li_text"> 
       <div class="li_text2"> 
        <p>咨询热线： 18028761638 </p> 
       </div> 
      </div> </li> 
     <li> <a href="#" class="btn1" rel="nofollow"><img class="ly" src="/tmpl/0971b/res/icon_ly.png"></a> 
      <div class="li_text"> 
       <div class="li_text2"> 
        <p><a href="#" class="btn1" rel="nofollow">点击填写采购内容</a></p> 
       </div> 
      </div> </li> 
     <li class="top_btn"> <a href="#" rel="nofollow"><img src="/tmpl/0971b/res/ic_top.png"></a> </li> 
    </ul> 
   </div> 
  </div>  
  <div id="message"> 
   <div class="messagebg"></div> 
   <div class="m-content"> 
    <div class="m-message"> 
     <form id="myform1"> 
      <input type="hidden" name="__token__" value="c954c99720924d86806e61bf0b4184ea"> 
      <input type="hidden" name="__formid__" value="1"> 
      <input type="hidden" name="__returntype__" value="default"> 
      <span style="margin-top: 0px;	margin-right: 0px;margin-bottom: 0px;margin-left: 0px;width: 100%;font-size: 24px;	font-weight: bolder; text-align: center; line-height: 3em; float: left;clear: right;position: relative;">订 购 表 单</span> 
      <label> <span>产品名称：</span> <input class="inp" type="text" name="titles" placeholder="请输入您要订购的产品名称"></label> 
      <label> <span>您的姓名：</span> <input class="inp" type="text" name="name" placeholder="请输入您的姓名"> </label> 
      <label> <span>联系电话：</span> <input class="inp" type="text" name="phone" placeholder="请输入您的电话"> </label> 
      <label class="mes"> <span>订购备注：</span> <textarea name="yuanwang" type="text" placeholder="请输入您需要采购产品的数量和要求，或者您的建议！"></textarea> </label> 
      <label class="code"> <span>验证码：</span> <input type="text" name="__captcha1__"> 
       <div class="pic"> 
        <img src="/tmpl/0971b/res/1" style="height:35px; width:100px;"> 
       </div> </label> 
      <div class="btn1-1"> 
       <input class="focus" type="submit" value="提交"> 
       <input type="reset" value="重置"> 
      </div> 
      <div style="margin-top: 20px; width: 100%; font-size: 14px;	font-weight: bolder; text-align: center; line-height:2em;"> 
       <span>*：您的建议或订购，我们客服随时关注，收到信息后，我们将在2小时内给您回复！</span>
      </div> 
     </form>  
    </div> 
   </div> 
  </div>  
  <div class="banner-sub wow fadeInDown" style="background-image: url(''),url('/uploads/image/20210824/147d6c8a89ad8cbf607a5e56ea950b1c.jpg'),url('/uploads/image/20210824/147d6c8a89ad8cbf607a5e56ea950b1c.jpg'"></div> 
  <div class="center" id="container1"> 
   <div class="m_text clearfix"> 
    <p class="clearfix"> <span class="p1">热门城市</span> <a href="#" rel="nofollow">北京</a> <a href="#" rel="nofollow">重庆</a> <a href="#" rel="nofollow">吉林</a> <a href="#" rel="nofollow">上海</a> <a href="#" rel="nofollow">天津</a> <a href="#" rel="nofollow">东城</a> <a href="#" rel="nofollow">西城</a> <a href="#" rel="nofollow">朝阳</a> <a href="#" rel="nofollow">丰台</a> <a href="#" rel="nofollow">石景山</a> </p> 
    <p class="p3">按省份选择</p> 
   </div> 
   <div id="container"> 
    <div class="city_list clearfix"> 
     <dl class="item clearfix"> 
      <dt class="clearfix">
       <a href="#" rel="nofollow">北京</a>
      </dt> 
      <dd class="clearfix"> 
       <a href="#" rel="nofollow">东城</a> 
       <a href="#" rel="nofollow">西城</a> 
       <a href="#" rel="nofollow">朝阳</a> 
       <a href="#" rel="nofollow">丰台</a> 
       <a href="#" rel="nofollow">石景山</a> 
       <a href="#" rel="nofollow">海淀</a> 
       <a href="#" rel="nofollow">门头沟</a> 
       <a href="#" rel="nofollow">房山</a> 
       <a href="#" rel="nofollow">通州</a> 
      </dd> 
     </dl> 
     <dl class="item clearfix"> 
      <dt class="clearfix">
       <a href="#" rel="nofollow">重庆</a>
      </dt> 
      <dd class="clearfix"> 
      </dd> 
     </dl> 
     <dl class="item clearfix"> 
      <dt class="clearfix">
       <a href="#" rel="nofollow">吉林</a>
      </dt> 
      <dd class="clearfix"> 
       <a href="#" rel="nofollow">长春</a> 
      </dd> 
     </dl> 
     <dl class="item clearfix"> 
      <dt class="clearfix">
       <a href="#" rel="nofollow">上海</a>
      </dt> 
      <dd class="clearfix"> 
      </dd> 
     </dl> 
     <dl class="item clearfix"> 
      <dt class="clearfix">
       <a href="#" rel="nofollow">天津</a>
      </dt> 
      <dd class="clearfix"> 
      </dd> 
     </dl> 
    </div> 
   </div> 
  </div> 
  <div class="footer clearfix"> 
   <div class="fnav"> 
    <a href="#" rel="nofollow">网站首页</a>/
    <a href="#" rel="nofollow">产品中心</a>/
    <a href="#" rel="nofollow">线材选型</a>/
    <a href="#" rel="nofollow">技术参数</a>/
    <a href="#" rel="nofollow">新闻资讯</a>/
    <a href="#" rel="nofollow">关于LXW</a>/
    <a href="#" rel="nofollow">联系我们</a>
   </div> 
   <div class="container clearfix"> 
    <div class="flogo"> 
     <a href="#" rel="nofollow"><h1>连兴旺电子(深圳)有限公司</h1><p>公司经营板对板连接器、TF卡座、SD卡座、FPC座、HDMI接口、USB接口、排针排母...</p></a> 
    </div> 
    <div class="contact"> 
     <dl> 
      <dt data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100">
       <img src="/tmpl/0971b/res/f_ico1.png">
      </dt> 
      <dd data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> 
       <h4>关于我们</h4> 
       <p>连兴旺电子(深圳)有限公司</p> 
       <p>公司地址：深圳宝安区西乡街道宝田二路6号雍华源商务大厦A2004-2005室</p> 
       <p>线对板连接器,线对线连接器,汽车连接器...</p> 
      </dd> 
     </dl> 
     <dl data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-once="false" data-aos-offset="100"> 
      <dt>
       <img src="/tmpl/0971b/res/f_ico2.png">
      </dt> 
      <dd> 
       <h4>联系方式</h4> 
       <p>联系人：朱经理</p> 
       <p>手　机：18028761638</p> 
       <p>邮　箱：a15899769100@126.com</p> 
       <p>板对板连接器,排针,排母,接线端子,连接线</p> 
      </dd> 
     </dl> 
    </div> 
   </div> 
   <div class="footer-copy">
    版权所有：连兴旺电子(深圳)有限公司　备案号：
    <a href="#" rel="nofollow">粤ICP备16076265号</a>
   </div> 
  </div> 
  <div class="footer-fix"> 
   <ul class="clearfix"> 
    <li><a href="#" rel="nofollow"><i class="i1"></i>网站首页</a></li> 
    <li><a href="#" rel="nofollow"><i class="i3"></i>关于连兴旺</a></li> 
    <li><a href="#" rel="nofollow"><i class="i2"></i>产品中心</a></li> 
    <li><a href="#" rel="nofollow"><i class="i4"></i>技术参数</a></li> 
    <li><a href="#" rel="nofollow"><i class="i5"></i>联系我们</a></li> 
   </ul> 
  </div> 
  <!-- 
<div class="kf">
  <div class="kt-top">在 线 客 服 <span class="close"> <b></b> <b></b> </span> </div>
  <div class="con">
    <ul class="qq">
      <li> <a class="IM-item-link IM-qq" style="height:25px;" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2880507963&amp;site=qq&amp;menu=yes"> <img border="0" src="/template/default/index/images/qq.png" alt="点击这里给我发消息" align="absmiddle" onerror="$(this).hide();"> QQ 咨询 </a> </li>
    </ul>
    <h5>联系方式</h5>
    <div class="contact">
      <p>热线电话</p>
      <p>18028761638</p>
      <p>上班时间</p>
      <p>周一到周五</p>
      <p>公司电话</p>
      <p>0755-29591214</p>
    </div>
    <h5 class="qr-icon">扫一扫微信咨询</h5>
    <div class="qr"><img src="/uploads/image/20221019/b8682beee1e058e3ee74e0f04075eb71.jpg" /></div>
  </div>
  <div class="kf-side"> <b>在</b><b>线</b><b>客</b><b>服</b> <span class="arrow"></span> </div>
  <div class="backTop"></div>
</div> -->   
 </body>
</html>