html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;line-height:1.15;-webkit-tap-highlight-color:rgba(0,0,0,0)}

body{margin:0;font-family:"Microsoft Yahei",PingFangSC-Regular,"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;line-height:1.42857143;font-size:14px;min-width:1280px;background:#fff;color:#333}

h1{font-size:2em;margin:.67em 0}

figure{margin:1em 40px}

hr{box-sizing:content-box;height:0;overflow:visible}

a{-webkit-text-decoration-skip:objects;background-color:transparent}

abbr[title]{border-bottom:none;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}

b,strong{font-weight:bolder}

dfn{font-style:italic}

mark{background-color:#ff0;color:#000}

small{font-size:80%}

sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}

sub{bottom:-.25em}

sup{top:-.5em}

audio:not([controls]){display:none;height:0}

img{border-style:none}

svg:not(:root){overflow:hidden}

button,input,optgroup,select,textarea{line-height:1.42857143;margin:0;outline:none}

body,button,input,select,textarea{text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-moz-font-feature-settings:"liga","kern"}

button,input{overflow:visible}

button,select{text-transform:none}

button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}

button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}

button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}

fieldset{padding:.35em .75em .625em}

legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}

progress{display:inline-block;vertical-align:baseline}

textarea{overflow:auto}

[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}

[type=search]{-webkit-appearance:textfield;outline-offset:-2px}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}

::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

summary{display:list-item}

article,aside,footer,header,nav,section,figcaption,figure,main,details,menu{display:block}

pre,code,kbd,samp{font-family:monospace,monospace;font-size:1em}

audio,video,canvas{display:inline-block}

template,[hidden]{display:none}

.fl{ float: left;}

.fr{ float: right; }



.clearfix{zoom:1}

.clearfix:before,.clearfix:after{display:table;line-height:0;content: ''}

.clearfix:after{clear:both}



a{color:#333;text-decoration:none}

a:hover{color:#004175}

ul{margin:0;list-style:none;padding:0}



.img-center{text-align:center;font-size:0}

.img-center img{display:inline-block;width:auto;height:auto;max-width:100%;max-height:100%;vertical-align:middle;transition:all 0.5s}



.img-cover{overflow:hidden;position:relative;box-shadow: 0px 0px 10px 0 rgb(15 41 131 / 30%)}

.img-cover span{display:block;width:100%;background:no-repeat center / cover;transition:all 0.5s;height:100%;background-size: 100% auto;position:absolute;left:0;top:0}

.container{padding:0 15px;width:1200px;margin:0 auto;}

#message{position:fixed;width:100%;height:100%;left:0;top:0;z-index:1000;transform:scale(0);transition:.3s}

.messagebg{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.6);z-index:1001}

#message .m-content{margin-top:8%}

#message .m-content .m-message{background:#fff;width:580px;background:#fff;padding:50px;margin:0 auto;position:relative;z-index:1002;box-shadow:1px 1px 50px rgba(0,0,0,.3)}

.m-message{width:494px;margin:48px auto 0}

.m-message label{margin-bottom:15px;display:block;font-size:14px}

.m-message label em{display:block;float:right;color:red;height:32px;line-height:32px}

.m-message label span{width:98px;height:34px;line-height:34px;color:#2F2F2F;float:left;font-weight:bold;text-align:right;margin-right:30px;display:inline-block}

.m-message label input.inp,.m-message label textarea,.m-message label.code input{width:73%;overflow:hidden;height:32px;line-height:32px;border:#cccccc 1px solid;border-radius:3px;padding:0 14px;box-sizing:border-box;color:#555;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}

.m-message label input:focus,.m-message label textarea:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(247,150,0,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(247,150,0,.6)}

.m-message label textarea{height:72px;line-height:24px;padding:10px 14px;}

.m-message label.code{line-height:34px}

.m-message label.code input{width:30%;float:left;margin-right:30px}

.m-message label.code .pic{display:inline-block;vertical-align:top;width:80px;height:32px}

.m-message label.code img{display:block;width:100%;height:100%}



.btn1{display:block;line-height:32px;}

.btn1:hover{background-color:#444;color:white}

.btn1 span{display:block;padding-left:15px;background-repeat:no-repeat;background-position:left center;background-image:url(../images/btn-r.png)}

.btn1-1 input{width:52px;height:32px;line-height:32px;background:#e8e8e8;border:none;color:#333;margin-right:22px;cursor:pointer;transition:0.3s}

.btn1-1{padding-left:100px}

.btn1-1 input.focus{background:#004175;color:#fff}

.btn1-1 input.focus:hover{background:#444}

.btn1-1 input:hover{background:#ccc}



.kf{width:208px;position:fixed;right:-208px;top:50%;transform:translateY(-50%);z-index:10}

.kt-top{height:40px;line-height:40px;background:url(../images/kefu.png) 12px center no-repeat #004175;-ms-background-size:auto 20px;background-size:auto 20px;padding-left:46px;font-size:14px;color:#fff}

.kt-top span:hover{transform:rotate(90deg)}

.kt-top span{width:18px;height:16px;float:right;position:relative;margin:10px 10px 0 0;cursor:pointer;transition:.5s;-webkit-transition:.5s;-moz-transition:.5s;-ms-transition:.5s;-o-transition:.5s}

.kt-top span b{width:100%;height:2px;background:#fff;display:block;position:absolute;top:50%;left:0}

.kt-top span b:first-child{transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg)}

.kt-top span b:last-child{transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg)}

.kf .con{overflow:hidden;background:#fff}

.kf .qq li{height:36px;line-height:36px;border-bottom:#f5f5f5 solid 1px;padding-left:16px}

.kf .qq li a{height:36px!important;color:#666;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-decoration:initial;display:block}

.kf .qq li a img{padding-right:6px}

.kf .con h5{height:26px;line-height:26px;margin-top:12px;background:url(../images/lianxi.png) 16px center no-repeat;padding-left:45px;color:#666;font-size:14px;margin-bottom:0}

.kf .contact{margin-top:1px;height:auto;background-color:#fff}

.kf .contact p{height:26px;line-height:26px;color:#666;font-size:14px;padding-left:22px;margin:0}

.kf .contact p:nth-child(2n){padding-left:32px}

.kf .con h5.qr-icon{background:url(../images/erweima.png) 16px center no-repeat }

.kf .con .qr{margin-top:10px;padding-left:40px}

.kf .con .qr img{width:110px;height:110px}

.kf .backTop{width:100%;height:40px;margin-top:10px;background:url(../images/huidaodingbu.png) center center no-repeat #004175;background-size:18px auto;cursor:pointer}

.kf-side{padding:18px 10px 10px;background:#004175;position:absolute;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);left:-34px;cursor:pointer}

.kf-side b{display:block;color:#fff;line-height:18px;font-size:14px;font-weight:400}

.kf-side span.arrow{width:12px;height:12px;background:url(../images/jt-1.png) no-repeat;-ms-background-size:auto 12px;background-size:auto 12px;display:block;margin-top:10px}

.kf-side span.on{background:url(../images/jt-2.png) no-repeat;-ms-background-size:auto 12px;background-size:auto 12px}

.footer-fix {display: none;}

.swiper-button-prev,.swiper-button-next{outline:none}

.swiper-pagination-bullet{ background:#ca0000 }

.swiper-pagination-bullet-active{background-color:#333;}

.topbar{padding:9px 0;color:#999999; border-bottom: 1px solid #ebebeb;}

.topbar em{font-style:normal;color:#ddd;padding:0 15px}

.topbar a{color:#646464}

.header{background-color:#fff}

.header .logo{float:left;font-size:0;height:82px;line-height:82px;text-align:left;padding:15px 0; }

.header .text{float:left;font-size:18px;margin:20px 0 20px 10px;padding:4px 0 8px 0px;color:#333}

.header .text strong{display:block;font-size:41px;color:#004175;margin-bottom:0px}

.header .text strong span{ color: #d01927; }

.header .text i{ font-style: normal; }

.header .tel{float:right;background:url(../images/tel.gif) no-repeat 0 center; margin-top: 35px;;padding-left:55px;height: 52px;color:#333}

.header .tel span{float: left; padding-top: 5px; font-size: 16px; }

.header .tel strong{float: left;;font-size:26px;color:#333; line-height: 52px; padding-left: 20px;}



.header .nav{font-size:0; background:url(../images/nav.gif) repeat-x;}

.header .nav li{display:inline-block;vertical-align:middle}

.header .nav li a{display:block;font-size:16px;line-height:72px;padding:0 31px;color:#FFF;letter-spacing: 2px;	position: relative;	left: 10px;}

.header .nav li .arr{float:right;height:40px;width:40px;position:relative;display:none}

.header .nav li .arr:after{content:'';border-top:2px solid #ccc;border-left:2px solid #ccc;box-sizing:content-box;display:block;width:8px;height:8px;margin:auto;position:absolute;top:0;bottom:0;transform:rotate(135deg);right:15px}

.header .nav li.active>a,.header .nav li.open>a,.header .nav li>a:hover{background: #d01927;}

.header .nav li.dropdown{position:relative}

.header .nav .dropdown-box{position:absolute;left:0;min-width:100%;top:100%;display:none;z-index:10;text-align:center;box-shadow:0 6px 12px rgba(0,0,0,0.18);background-color:#015aaa}

.header .nav .dropdown-box p{margin:0;}

.header .nav .dropdown-box a{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding:0 10px;font-size:15px;background-color:transparent !important;line-height:40px;color:#FFF !important}

.header .nav .dropdown-box a:hover{background-color:#d01927 !important;color:#FFF !important}

.header .nav li.open .dropdown-box{display:block}



.menu-btn{display:none;padding:12px 0;float:right;margin-left:15px}

.menu-btn:before,.menu-btn:after,.menu-btn span{display:block;height:2px;background-color:#004175;content:''}

.menu-btn:before{width:24px}

.menu-btn:after{width:18px;margin-left:6px}

.menu-btn span{width:12px;margin:6px 0 6px 12px}



.banner{ width: 100%;max-width: 1920px; margin: 0 auto; overflow: hidden; position: relative; 	text-align: center;}

.banner .swiper-button-prev{ background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E") }

.banner .swiper-button-next{ background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E") }

.banner .swiper-pagination-bullet{ background:#c81622; width: 15px; height: 15px;opacity: 1;}

.banner .swiper-pagination-bullet-active{background-color:#232323;}

.banner .swiper-slide img {
	max-width: 100%; 
	display: block;
	height: 680px;
	-o-object-fit: cover;
    object-fit: cover;
}



.yunu-sou{padding:20px 0 20px; border-bottom: 1px solid #ededed; }

.yunu-sou .hot{float:left;padding:7px 0;color: #666666}

.yunu-sou .hot a{margin:0 10px; color: #666666}

.yunu-sou .hform{float:right;}

.yunu-sou .hform input{float:left;padding:5px 12px 4px;width:180px;font-size:14px; background: #FFF; border: none;}

.yunu-sou .hform button{border:0;padding:0;float:left;cursor:pointer;outline:none;font-size:0}



.yunu-link{padding:20px 0}

.yunu-link h4{border-bottom:1px solid #ddd;margin:0;font-size:18px;color:#004175;padding-bottom:15px}

.yunu-link h4 small{text-transform:uppercase;font-size:16px;font-weight:normal;color:#999}

.yunu-link ul{margin-left:-20px}

.yunu-link li{float:left;margin-left:20px;margin-top:20px}



.pc-slide{float:left;width:400px}

.view .swiper-slide .img-center{width:100%;height:300px;line-height:300px}

.view .swiper-container{width:100%}

.preview{width:100%;margin-top:10px;position:relative}

.preview .swiper-container{margin:0 30px}

.preview .swiper-slide .img-center{height:80px;border:1px solid #ddd;cursor:pointer;position:relative;line-height:80px}

.preview .arrow-left{background:url(../images/feel3.png) no-repeat left top;position:absolute;left:0;top:50%;margin-top:-9px;width:9px;height:18px;z-index:0}

.preview .arrow-right{background:url(../images/feel4.png) no-repeat left bottom;position:absolute;right:0;top:50%;margin-top:-9px;width:9px;height:18px;z-index:0}

.preview .active-nav .img-center{border-color:#004175}



div.zoomDiv{z-index:999;position:absolute;top:0;left:0;background:#ffffff;border:1px solid #ddd;display:none;text-align:center;overflow:hidden;font-size:0}

div.zoomMask{position:absolute;background:url(../images/mask.png) repeat scroll 0 0 transparent;cursor:move;z-index:1}



.yunu-showcase{margin:0 0 40px}

.yunu-showcase-info{margin-left:430px}

.yunu-showcase-info h1{font-size:24px;margin:0 0 30px;font-weight:normal}

.yunu-showcase-info p{margin:5px 0 0;color:#666;line-height:1.8}

.yunu-showcase-info .tel{border-top:2px solid #e6e6e6;margin-top:15px;padding-top:15px;height:42px;line-height:21px;font-size:18px}

.yunu-showcase-info .tel strong{color:#004175}

.yunu-showcase-info .tel a{float:right;line-height:42px;padding:0 25px;background-color:#004175;color:#fff}



.section{padding:10px 0;}



.section-title{margin-bottom:20px;text-align:center;font-size:32px; color: #005aa1; position: relative; padding-bottom: 20px;}

.section-title strong{ position: relative;}

.section-title strong:before{position: absolute; bottom: -10px; left:50%; width: 28px; height: 1px; background: #999999; content: ''; margin-left: -14px;}

.section-title p{color:#333333;font-size:18px;margin:15px 0 0}



.section-title1{text-align: center; color: #005aa1; height: 120px; overflow: hidden;}

.section-title1 h2{color: #e7e7e7; font-size: 70px; font-family:Impact;margin: 0;}

.section-title1 strong{  font-size: 40px; text-align: center; margin: 0; position: relative; top:-80px;}

.section-title1 strong span{ font-weight: normal; color: #333; }



.section-title2{margin-bottom:40px;text-align:center;font-size:45px; color: #005aa1; position: relative; padding-bottom: 20px;}

.section-title2 strong span{ color: #a50d26; }

.section-title2 p{color:#333333;font-size:18px;margin:10px 0 0 ; height: 48px; line-height: 48px; background: url(../images/title01.gif) no-repeat center;}



.in-service{ background: url(../images/bg-service.jpg) no-repeat top center; background-attachment: fixed;background-size: cover;background-repeat: no-repeat;background-position: center top; padding-top: 30px; }

.in-service li{ float: left; width: 25%; text-align: center; }

.in-service-con{display: block; padding:0 25px;}

.in-service-con .icon{ width: 100%; height: 162px; display: block; margin: 0 auto; transition: all 0.5s ease-in-out; background:no-repeat center ;  }

.in-service-con:hover .icon{
	transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
    transform: translateX(0px) translateY(-20px) scale(1, 1) rotateX(0deg) rotateY(360deg) rotateZ(0deg) skew(0deg, 0deg);
	-webkit-transform: translateX(0px) translateY(-20px) scale(1, 1) rotateX(0deg) rotateY(360deg) rotateZ(0deg) skew(0deg, 0deg);
}

.in-service-con h2{margin:25px 0 10px; font-size: 18px; color: #005aa1;}

.in-service-con:hover h2{ color: #ff0000; }



.in-service-con p{ font-size: 15px;}

.in-service-con .a1{background-image:url(../images/cg1.png);}

.in-service-con .a2{background-image:url(../images/cg2.png);}

.in-service-con .a3{background-image:url(../images/cg3.png);}

.in-service-con .a4{background-image:url(../images/cg4.png);}

.in-service-con:hover .a1{background-image:url(../images/cg1_h.png);}

.in-service-con:hover .a2{background-image:url(../images/cg2_h.png);}

.in-service-con:hover .a3{background-image:url(../images/cg3_h.png);}

.in-service-con:hover .a4{background-image:url(../images/cg4_h.png);}

.in-service .more{width:222px;height: 42px; line-height: 42px;  margin: 20px auto; font-size: 16px;letter-spacing: 2px;}

.in-service .more a{
    display: block;
    text-align: center;
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-weight: bold;
	background-color: rgba(26, 124, 235, 1); color: #000; display: block; }


.in-service .more a:hover {
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-weight: bold;
	color: #fff; 
	background-color: #ff0000;
	animation: tada 1s linear 0s infinite normal;
	-webkit-animation: tada 1s linear 0s infinite normal;
} 

.in-fangan-menu{ background: #eaeaea; height: 83px;line-height: 83px;  }

.in-fangan-menu li{ float: left; width: 25%; }

.in-fangan-menu li a{display: block;  border-right: 1px solid #cccccc; background: url(../images/ico01.gif) no-repeat 26px center; padding-left: 50px; font-size: 18px; }

.in-fangan-menu li:first-child a{ border-left: 1px solid #cccccc; }

.in-fangan-menu li.active a{ background: url(../images/ico02.gif) no-repeat 26px center #FFF;border-top: 3px solid #c30c22;font-weight: bold; height: 80px;  }



.in-fangan-con{ background: url(../images/bg-fangan.jpg) no-repeat center 110px; background-attachment: fixed;background-size: cover;background-repeat: no-repeat;background-position: center top; }

.fa-con1{height:auto;overflow:hidden; margin: 15px 0;}

.fa-con1 h3{width:198px;line-height:72px;border:solid 2px #005aa1;text-align:center;font-weight:normal;color:#005aa1;margin:5px 34px 0 0;float:left;font-size:30px}

.fa-con1 .text{width:964px;float:left}

.fa-con1 .text b{display:block;line-height:35px;color:#005aa1;font-size:20px;}

.fa-con1 .text b a{display:block;color:#005aa1}

.fa-con2{ width: 1200px; height: 655px; overflow: hidden;}

.fa-con2 li{float: left; width: 24.5%;}

.fa-con2 li.a1{ width: 75.5%; overflow: hidden;}

.fa-con2 li.a1 a:hover img{ transform:scale(1.1);}

.fa-con2 li.a2 a:hover img{ transform:scale(1.1);}

.fa-con2 li a{ display: block; position: relative; margin: 0 5px 10px; text-align: center; color: #FFF; }

.fa-con2 li .text{ display: none;  position: absolute; left: 0;top:0; height: 100%; width: 100%; background: rgba(0,0,0,0.8); }

.fa-con2 li a:hover .text{display: block; transform:scale(1.05);}

.fa-con2 li .text p{margin:45px auto;width: 150px; height: 77px;border-top: solid 1px #c8c5c4;border-bottom: solid 1px #c8c5c4;background:url(../images/ico05.png) no-repeat center 66px;padding: 18px 0; }

.fa-con2 li .text p span{}



.in-pro-left{ float: left; width: 268px; background-color: #005aa1; color: #FFF; }

.in-pro-right{ float: right; width:915px;}



.in-pro-left .tit{  text-align: center; padding: 8px 0; font-size: 20px;}

.in-pro-left .tit h3{ margin: 0; font-weight: normal; }

.in-pro-left .tit span{ background: url(../images/title02.gif) no-repeat center;font-size: 14px; margin-top: 5px; height: 30px; line-height: 30px; color:#b3c4d7; display: block; font-weight: bolder;}

.in-lanmu{ background-color: #FFF; width: 240px; margin: 0 auto; padding: 10px; }

.in-lanmu li{margin-top:1px;border-bottom:1px solid #d1d1d1;}

.in-lanmu li>a{display:block;line-height:40px;padding:0 0 0 25px;color:#666;font-size:16px; background: #efefef; }

.in-lanmu li .arr {float: right;height: 45px;width: 40px;position: relative;cursor: pointer;}

.in-lanmu li .arr:after {content: '';border-top: 2px solid #666;border-left: 2px solid #666;box-sizing: content-box;display: block;width: 8px;height: 8px;margin: auto;position: absolute;top: 0;bottom: 0;transform: rotate(135deg);right: 15px;}



.in-lanmubox{}

.in-lanmubox p{margin:0;border-bottom:1px dashed #cfcfcf; font-size:16px;}

.in-lanmubox p a{padding:0 25px;display:block;line-height:40px; color: #666666;}

.in-lanmubox p a:hover{ color: #005aa1; }

.in-lanmu li>a:hover,.in-lanmu li.active>a {color: #fff;background-color: #005aa1;}

.in-lanmu li>a:hover .arr:after { border-color: #fff;}

.in-lanmu li.active .arr:after {border-color: #fff;}

.in-lanmu li.open .in-lanmubox {display: block;}

.in-lanmu li.open .arr:after {transform: rotate(225deg); }



.in-tel{  width: 240px;margin: 0 auto; padding: 15px 0;  }

.in-tel .tel{ padding:0 0 10px 50px; margin-bottom: 5px; border-bottom: 1px dashed #FFF; background: url(../images/tel1.gif) no-repeat left 5px; }

.in-tel .tel strong{ display: block; font-size: 20px; }

.in-tel p{ margin: 0; line-height: 25px; }



.in-pro-right li{ float: left; width: 25%;}

.in-pro-right li a:hover{box-shadow: 0px 0px 8px 3px #000;}

.in-pro-right li a{ display: block; margin:0 9px 18px; text-align: center; color: #666666; box-shadow: 0px 0px 10px 0 rgb(15 41 131 / 30%)}

.in-pro-right li .img-cover{ padding-top: 72%; transition:all 0.5s }

.in-pro-right li .img-cover:hover span{transform:scale(1.1);}

.in-pro-right li .text{ line-height: 45px; background: #e0e0e0;}

.in-pro-right li a:hover .text{ background: #005aa1; color: #FFF; }

.in-pro-right li .text p{
    
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
}



.in-ys{ background: url(../images/bg-ys.jpg) no-repeat top center #f2f2f2;height: 623px; }

.in-ys-con{ position: relative;font-size:18px;color:#333333;line-height:35px;font-weight: bolder;color: rgba(255, 0, 0, 1); }

.in-ys-con .txta{position:absolute;left:108px;top:310px;}

.in-ys-con .txtb{position:absolute;left:410px;top:160px;}

.in-ys-con .txtc{position:absolute;left:368px;top:377px;}

.in-ys-con .txtd{position:absolute;left:619px;top:263px;}

.in-ys-con .txte{position:absolute;left:967px;top:242px;}



.in-about-bg{ background: url(../images/bg-about.jpg) no-repeat top center; background-attachment: fixed;background-size: cover;background-repeat: no-repeat;background-position: center top; padding-top: 60px; }

.in-about{ background: #FFF; padding:10px; }

.in-about h2{ text-align: center; color: #c81622; margin: 0 0 10px; font-size: 30px; }

.in-about p{ font-size: 16px; color: #555; margin: 0; line-height: 30px; letter-spacing: 5px;}

.in-about .more{
	width: 182px;height: 43px; line-height: 43px;  margin: 20px auto; font-size: 16px; letter-spacing: 2px;}

.in-about .more a{
    text-align: center;
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-weight: bold;
	background-color: rgba(26, 124, 235, 1); color: #000; display: block; }


.in-about .more a:hover {
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-weight: bold;
	color: #fff; 
	background-color: #ff0000;
	animation: tada 1s linear 0s infinite normal;
	-webkit-animation: tada 1s linear 0s infinite normal;
}

.in-news .tit{ border-bottom: 1px solid #cccccc; overflow: hidden; }

.in-news .tit span {float: left; border-bottom: 3px solid #c81622; color: #c81622;padding: 6px 0;  font-weight: bold; font-size: 20px;}

.in-news .tit a{ float: right; padding-top: 10px; }

.in-news-con{ height: auto; overflow: hidden; }

.in-news .fl{ width: 550px;  }

.in-news .fr{ width: 550px;  }



.in-news .fl dl{ height: auto; overflow: hidden;border-bottom: solid 1px #dfdfe0;padding-bottom: 10px; }

.in-news .fl dl dt{ margin: 0; height: 140px; }

.in-news .fl dl dt em{ float: left; width: 30%; display: block; font-style: normal; background: url(../images/newsbg.gif) no-repeat left / cover; height: 140px; text-align: center; line-height: 140px; color: #FFF; font-size: 30px;}

.in-news .fl dl dt a{ float: right; width: 70%;display: block; }

.in-news .fl dl dt .img-cover{ padding-top: 140px;transition:all 0.5s }

.in-news .fl dl dt .img-cover:hover span{transform:scale(1.1);}

.in-news .fl dl dd{ margin: 0 ; height: 80px;}

.in-news .fl dl dd h3{line-height:30px;color: #c81622; margin:8px 0 6px ; height: auto; overflow: hidden;}

.in-news .fl dl dd h3 a{color: #c81622; font-size: 18px; float: left;}

.in-news .fl dl dd h3 span{color: #8c8a8a;font-weight: normal;float: right;}

.in-news .fl dl dd p{ margin: 0; }



.in-news .fl li{display: block;height:29px;line-height:29px;color: #555;}

.in-news .fl li span{float: right;color: #b1a5a5;}

.in-news .fl li a{float:left;display: block;padding-left: 14px;background:url(../images/ico07.gif) no-repeat 0 11px;color: #555;}

.in-news .fl li a:hover{background:url(../images/ico08.gif) no-repeat 0 11px;}



.in-news .fr .img-cover{ margin: 15px 0 0; padding-top: 140px; transition:all 0.5s}

.in-news .fr .img-cover:hover span{transform:scale(1.1);}

.in-news .fr li{float: left;width:50%;}

.in-news .fr li a{ display: block;border-bottom: solid 1px #dfdfe0;margin-bottom:5px; background:url(../images/faq_ico1.gif) no-repeat 0 16px;padding: 15px 0 15px 28px;}

.in-news .fr li a:hover{background:url(../images/faq_ico2.gif) no-repeat 0 16px; color: #c81622}

.in-news .fr li h3{margin:0 }

.in-news .fr li p{margin:5px 0 0 ; color: #555555; }



.footer{ color: #555555; }

.footer .fnav{  background: #0d62a5; line-height: 70px; text-align: center; color: #FFF;}

.footer .fnav a{ display: inline-block;  font-size: 16px; margin: 0 15px;color: #FFF; letter-spacing: 2px;}

.footer .fnav a:hover{color: #ff0000; text-shadow: 0px 0px 15px #fff; font-weight: bolder;}

.footer-copy{padding:20px 0; background: #f2f2f2; text-align: center;overflow: hidden;}

.footer-copy a{ color: #666666; }



.footer .flogo{ float: left; width: 360px;padding: 10px 0; }

.footer .flogo h2{ font-size: 40px; margin: 0; }

.footer .flogo p{ margin: 0; font-size: 14px; }

.footer .contact{ float: right; width: 800px; padding: 10px 0; }

.footer .contact dl{ float: left; width: 355px; height: 150px; margin: 0 60px 0 0;}

.footer .contact dl:last-child{ margin-right: 0; }

.footer .contact dl dt {float: left; width: 81px; margin: 0; padding-top: 10px;}

.footer .contact dl dd{ float: right; width: 260px;margin: 0; }

.footer .contact dl dd h4{ font-size: 16px; margin: 0; font-weight: normal; color: #333; }

.footer .contact dl dd p{ margin: 0; line-height: 30px; }



.banner-sub{height:500px;background:no-repeat center / cover}



.section-sub{padding:20px 0}



.sub-tit {border-bottom: 1px solid #ddd;font-size: 18px;color: #004175;font-weight: bold;padding-bottom: 15px;margin-bottom: 20px;}

.curmbs {float: right;font-weight: normal;font-size: 12px;color: #999;line-height: 25px;background: url(../images/hom1.jpg) no-repeat 0 center;padding-left: 20px;}

.curmbs em {font-style: normal;padding: 0 5px;}



.ct2-sd{float:left;width:250px}

.ct2-mn{float:right;width:920px}



.panel-sd{margin-bottom:20px;border:1px solid #d1d1d1;}

.panel-sd:last-child{margin-bottom:0}

.panel-sd .tit{text-align:left;font-size:16px;padding:15px 0 15px 35px;background-color:#004175;text-transform: uppercase; color: #a9c7ff;}

.panel-sd .tit span{ font-size: 18px; display: block;  font-weight: bold; color: #FFF; }

.panel-sd .tit i{font-style: normal; font-size: 16px; color: #FFF; margin-right: 5px;}



.contact-sd{padding:20px;}

.contact-sd .tel{background:url(../images/ny-tel.jpg) no-repeat 0 center; padding-left: 55px;}

.contact-sd .tel strong{color:#5b5b5b;font-size:18px; display: block;}

.contact-sd .cont{ margin-top: 8px; }

.contact-sd .cont p{ margin: 0; line-height: 25px;  }



.lanmu{background: #FFF;}

.lanmu li{margin-top:1px;border-bottom:1px solid #d1d1d1;}

.lanmu li>a{display:block;line-height:50px;padding:0 0 0 25px;color:#666;font-size:15px; }

.lanmu li .arr {float: right;height: 45px;width: 40px;position: relative;cursor: pointer;}

.lanmu li .arr:after {content: '';border-top: 2px solid #1977c2;border-left: 2px solid #1977c2;box-sizing: content-box;display: block;width: 8px;height: 8px;margin: auto;position: absolute;top: 0;bottom: 0;transform: rotate(135deg);right: 15px;}



.lanmu-box{display:none}

.lanmu-box p{margin:0;border-top:1px solid #fff;padding-left:15px}

.lanmu-box p a{padding:0 25px;display:block;line-height:40px}

.lanmu li>a:hover,.lanmu li.active>a {color: #fff;background-color: #004175;}

.lanmu li.active .arr:after {border-color: #fff;}

.lanmu li.open .lanmu-box {display: block;}

.lanmu li.open .arr:after {transform: rotate(225deg);}



.list-3{margin:-20px 0 0 -20px}

.list-3 li{
	float:left;
	width:25%;
}
.list-3 li .li_text {
	padding: 16.5px 0 0 20px;
}

.list-3 li a{display:block;text-align: center;}

.list-3 li .img-cover{border:1px solid #ddd;padding-top:76%}

.list-3 li .text{line-height:40px;position:relative; padding: 0 14px;  font-size: 16px;}

.list-3 li .text p{margin:0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;position:relative;z-index:1;transition:all 0.5s}

.list-3 li .btn{ text-align: center; }

.list-3 li .btn a{ margin-top: 0; display: inline-block; background: #555555; padding: 3px 20px; height: 35px; line-height: 35px; color: #FFF; font-size: 16px; border-radius: 5px; }

.list-3 li .btn a.blue{ background: #2d56a4; }


.list-3 li .pic {
	position: relative;
}
.list-3 li .fix_litext {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
	background: rgba(0,0,0,.5);
	text-align: center;
	line-height: 100%;
	transition: .5s;
}
.list-3 li:hover .fix_litext {
	height: 100%;
	transition: .5s;
	box-shadow: 0px 0px 8px 3px #000;
}
.list-3 li .fix_litext a {
	text-align: center;
	font-size: 14px;
	color: #fff;
	display: block;
	margin: 0 auto;
	height: 100%;
	line-height: 2em;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    width: 90%;
}
.list-3 li .fix_litext a i {
	font-style: normal;
	display: block;
	text-align: center;
    margin: 10 auto;
}







.list-4{ margin:10px 0 0 0px!important;}

.list-4 li{ float: left; width: 50%; margin: 0; position: relative;line-height: 30px;  }

.list-4 li a{display:inline-block; color: #545555; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.list-4 li span{ position: absolute; right: 0; top:0; color: #bbbbbc;margin: 0 20px 0 0; }



.list-5 li{
	margin-bottom:15px;
	display:block;
	border:1px solid #ddd;
	padding:15px;
	overflow:hidden
}

.list-5 li>a{}

.list-5 li .img-center{float:left;width:250px}

.list-5 li .text{margin-left:270px}

.list-5 li .text h4{margin:0;line-height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:18px}

.list-5 li .text h4 span{float:right;font-size:12px;color:#999;font-weight:normal;}

.list-5 li .text p{color:#797979;max-width: 420px}

.list-5 li .text .more{float:right;padding:6px 12px;color:#fff;background-color:#B6B6B6;}

.list-5 li a:hover{border-color:#004175}

.list-5 li a:hover .text h4{color:#004175}

.list-5 li a:hover .text .more{background-color:#004175}



.list-6 li{ float: left; width: 25%; margin: 0; }

.list-6 li a{display:block;margin:20px 0 0 20px; text-align: center;}

.list-6 li .text{margin:8px 0 0;}



.yunu-infocontent-title{margin-bottom:20px;text-align:center}

.yunu-infocontent-title h1{margin:0;font-size:24px}

.yunu-infocontent-title p{margin:10px 0 0;font-size:12px;color:#999}

.yunu-infocontent-title p span{padding:0 5px}



.yunu-infocontent-desc{margin-bottom:20px;border:1px solid #ddd;padding:20px}

.yunu-infocontent-desc p{display: inline-block;}

.yunu-infocontent-body{line-height:2;margin-bottom:20px}

.yunu-infocontent-body img{max-width:100% !important;height:auto !important;width:auto !important}

.yunu-infocontent-epx{margin-bottom:20px}

.yunu-infocontent-epx li{line-height:32px;margin-bottom:5px}

.yunu-infocontent-epx li span{display:inline-block;background-color:#A2A2A2;color:#fff;padding:0 15px;margin-right:10px}

.yunu-infocontent-epx li em{float:right;font-style:normal}

.yunu-infocontent-return{border-top:1px solid #000;line-height:32px}

.yunu-infocontent-return a{margin-right:10px}

.yunu-infocontent-return .more{margin:0;float:right;background-color:#000;color:#fff;padding:0 10px}

.yunu-infocontent-rem{margin-bottom:20px}

.yunu-infocontent-rem h4{margin:0;font-size:24px;line-height:55px}

.yunu-infocontent-rem li{border-top:1px dashed #dbdbdb;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:46px}

.yunu-infocontent-rem li span{float:right}



.prod-menu{margin-bottom:20px;border-bottom:3px solid #004175}

.prod-menu li{float:left;margin-right:7px}

.prod-menu li a{display:block;padding:0 35px;line-height:50px;border-radius:5px 5px 0 0;background-color:#F1F1F1;font-size:16px}

.prod-menu li.active a{background-color:#004175;color:#fff}





.map{margin-top:30px;height:350px}




.product_menu {
	padding: 20px 0;
}
.product_menu .list {}
.product_menu .list li {
    width: 288px;
    height: 140px;
    margin-bottom: 16px;
    background: #fff;
    box-shadow: 4px 4px 20px 0 rgba(15,41,131,.1);
    float: left;
    margin-right: 16px;
    position: relative;
    overflow: hidden;
}
.product_menu .list li:nth-child(4n){
	margin-right: 0;
}
.product_menu .list li a {}
.product_menu .list li .pic {
	width: 45%;
	float: left;
	height: 140px;
	overflow: hidden;
	line-height: 140px;
}
.product_menu .list li .pic img {
	display: inline-block;
	max-height: 130px;
	vertical-align: middle;
}
.product_menu .list li .text {
	width: 55%;
	float: left;
    height: 140px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}
.product_menu .list li .text p {
	text-align: center;
	width: 100%;
}
.product_menu .list li .text p span {
	text-align: left;
	display: block;
	font-size: 15px;
	color: #000;
	line-height: 22px;
	padding-right: 10px;
}





.product_menu .list li:nth-child(2n) .libg {
    background: rgba(255,0,0,.8);
}

.product_menu .list li .libg {
	position: absolute;
	width: 150px;
    height: 3px;
    background: rgba(0,0,0,.8);
    z-index: 8;
    top: 67%;
    right: 5%;
	transition: .5s;
}

.product_menu .list li:hover .text  p span {
	position: relative;
	z-index: 9;
	color: #fff;
}
.product_menu .list li:hover .text  p i {
	display: none;
	transition: .5s;
}

.product_menu .list li:hover .libg {
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	transition: .5s;
}


.hangye_menu .list ul {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.hangye_menu .list li {
    width: 25%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 224px;
    margin-right: 1.25%;
    margin-bottom: 1.25%;
    background: #fff;
    box-shadow: 4px 4px 20px 0 rgba(15,41,131,.1);
    position: relative;
    overflow: hidden;
	transition: .5s;
}
.hangye_menu .list li:nth-child(4n){
	margin-right: 0;
}
.hangye_menu .list li .pic {
	width: 100%;
	overflow: hidden;
}
.hangye_menu .list li .pic img {
	display: block;
    width: 100%;
    height: 224px;
    -o-object-fit: cover;
    object-fit: cover;
}
.hangye_menu .list li .text {
	position: absolute;
	left: 0;
	top: 170px;
	width: 100%;
	transition: .5s;
	z-index: 5;
}

.hangye_menu .list li .text span {
	display: block;
	color: #fff;
	padding: 0 30px;
	font-size: 16px;
}
.hangye_menu .list li .text p {
	display: block;
	color: #fff;
	padding: 0 30px;
	font-size: 14px;
	margin-top: 60px;
	line-height: 24px;
}

.hangye_menu .list li .libg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	display: none;
}





.hangye_menu .list li:hover {
	width: 50%;
	transition: .5s;
}
.hangye_menu .list li:hover .libg {
	display: block;
}
.hangye_menu .list li:hover .text {
	top: 76px;
	transition: .5s;
}
.hangye_menu .list li:hover .text p {
	margin-top: 15px;
}



.index_newlist {}
.index_newlist .item {
	display: block;
    margin: 5px 0;
    padding: 5px 18px;
    box-shadow: 4px 4px 20px 0 rgba(15,41,131,.1);
    border: 1px solid #eee;
}

.itemm {
	display: block;
    margin: 13px 0;
    padding: 20px 18px;
    box-shadow: 4px 4px 20px 0 rgba(15,41,131,.1);
    border: 1px solid #eee;
    height: 470px;
}

.itemm .gundong {
    height: 470px;
}


.index_newlist .item:first-child {
	margin-top: 0;
}
.index_newlist .item a {
	height: 30px;
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: block;
}
.index_newlist .item i {
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 45px;
    font-style: normal;
    display: block;
}
.index_newlist .item p {
	margin: 0;
	color: #333;
}
.index_newlist .item p span {
	line-height: 25px;
	font-size: 12px;
}
.index_newlist .item:hover {
	background: #000;
}
.index_newlist .item:hover a {
	color: #fff;
}
.index_newlist .item:hover i {
	color: #fff;
}
.index_newlist .item:hover p {
	color: #fff;
}
.indextlborder {
	border-top: solid 1px #dfdfe0;
    padding-top: 14px;
    margin-top: 10px;
}


.list-5 li .text {
	position: relative;
}
.list-5 li .text .down_btn {
	position: absolute;
	right: 0;
	top: 50px;
}
.list-5 li .text .down_btn a {
	display: block;
	padding-left: 22px;
	margin-top: 5px;
}
.list-5 li .text .down_btn a:nth-of-type(1) {
	background: url('../images/pro_ic1.png') no-repeat left center;
}
.list-5 li .text .down_btn a:nth-of-type(2) {
	background: url('../images/pro_ic2.png') no-repeat left center;
}



.header_xin {
    border-top: 5px solid #005aa1;
	position: fixed;
	height: 85px;
	top: 0;
	z-index: 99999;
    background: #fff;
    width: 100%;
    box-shadow: rgb(192 192 192)  0 4px 10px 2px;
}

.header_xin:hover {
    border-bottom: 1px solid rgba(255 0 0);
}

.header_xin .box{ 
	position: relative;
	padding-left: 150px;
	padding-right: 120px;
}
.header_xin .xinlogo {
	position: absolute;
	left: 0;
	top: 0;
	width: 155px;
	line-height: 85px;
	overflow: hidden;
}
.header_xin .xinlogo img {
	max-width: 90%;
	display: inline-block;
	vertical-align: middle;
}
.header_xin .xin_nav {
	width: calc(100% - 50px);
	float: left;
	padding-left: 15px;
	padding-top: 2px;
	width: auto;
	letter-spacing: 1px;
}

.header_xin .xin_nav ul {} 
.header_xin .xin_nav li {
	float: left;
}


.header_xin .xin_nav li>a {
	line-height: 85px;
	margin: 0 20px;
	font-size: 15px;
	font-weight: bold;
}

.header_xin .xin_nav li a:hover {
	font-weight: bold;
}

.header_xin .xin_nav li>a:hover {
	border-bottom: 2px solid #ff0000;
	color: rgba(255, 0, 0, 1);
	text-shadow: 0px 0px 25px #000;
}


.header_xin .xin_nav li .li_text {
	position: absolute;
	left: 0;
	top: 80px;
	width: 100%;
    padding: 24px 24px 12px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 6px 2px 8px rgba(0, 0, 0, 0.8);
    overflow: auto;
    overflow: hidden;
    display: none;
	transition: 0.5s;
	border-bottom: 3px solid #ff0000;
	color: rgba(255, 0, 0, 1);
	letter-spacing: 1px;
	line-height: 2.5em;
	    animation: flipInX 0.3s ease-out 0s 1 normal;
	-webkit-animation: flipInX 0.3s ease-out 0s 1 normal;
    /*  animation: fadeIn 0.5s ease-out 0s 1 normal;
	-webkit-animation: fadeIn 0.5s ease-out 0s 1 normal;*/
	/*	animation: flipInY 0.5s linear 0s 1 normal;
	-webkit-animation: flipInY 0.5s linear 0s 1 normal; */
}
.header_xin .xin_nav li .li_text h4 {
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    margin-bottom: 8px;
    color: #666;
    margin: 0;
    font-weight: bold;
}

.header_xin .xin_nav li .li_text h4 i {
    color: red;
}

.header_xin .xin_nav li .li_text h4 a:hover {
	border-bottom: 2px solid #ff0000;
	color: rgba(255, 0, 0, 1);
	text-shadow: 0px 0px 15px #000;
}

.header_xin .xin_nav li .li_text .text {
    width: 100%;
    float: left;
}


.header_xin .xin_nav li .li_text .list {
	height: 265px;
}

.header_xin .xin_nav li .li_text .more_a1 {
    padding-top: 15px;
	text-align: left;
	float: left;
}

.header_xin .xin_nav li .li_text .more_a1 .more_a11 {
    padding: 10px 10px 10px 0;
	float: left;
	hidden:auto;
}

.header_xin .xin_nav li .li_text .more_a1 img {
    width: 200px;
	hidden:auto;
}

.header_xin .xin_nav li .li_text .more_a1 .more_a22 {
	font-size: 15px;
	font-weight: bolder;
	letter-spacing: 3px;
	line-height: 42px;
}

.header_xin .xin_nav li .li_text .more_a1 .more_a22 a:hover {
    border-bottom: 2px solid #ff0000;
}
    
.header_xin .xin_nav li .li_text p {
    display: block;
    line-height: 40px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 14px;
    width: 100%;
    float: left;
	margin: 0;
	line-height: 3em;
    margin-right: 1.25%;
	font-weight: bold;
}
.header_xin .xin_nav li:first-child .li_text p {
    display: block;
    line-height: 40px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 13px;
    width: 24%;
    float: left;
	margin: 0;
	line-height: 3.5em;
    margin-right: 1.25%;
}


.header_xin .xin_nav li:first-child .li_text .text:nth-child(4n) p{
	margin-right: 0;
}

.header_xin .xin_nav li .li_text p:nth-child(2n) {
	margin-right: 0;
}
.header_xin .xin_nav li .li_text p i {
	font-style: normal;
	color: red;
	float: right;
	font-weight: bold;
}
.header_xin .xin_nav li .li_text p a {
	width: calc(100% - 50px);
	float: left;
	display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.header_xin .xin_nav li .li_text .more_a a {
	font-weight: bold;
	color: red;
}


.header_xin .xin_nav li .li_text .more_a a:hover {
	text-shadow: 0px 0px 15px #000;
}

.header_xin .xin_nav li .li_text .more_a i {
	color: red;
}
.header_xin .xin_nav li .li_text p a:hover {
	color: red;
	text-shadow: 5px 0px 10px #000;
}

.header_xin .xin_nav li.lits {
	position: relative;
}
.header_xin .xin_nav li .li_text.divts {
	width: 900px;
    left: -350px;
    top: 80px;
    text-align: left;
}
.header_xin .xin_nav li .li_text.divts .text {
	width: 100%;
}
.header_xin .xin_nav li .li_text.divts .list {
	height: auto;
	float: left;
    width: 25%;
}

.header_xin .xin_nav li .li_text.divts .right {
	padding-top: 5px;
    float: left;
    width: 70%;
    border-left: 1px #ddd solid;
    padding-left: 30px;
}

.header_xin .xin_nav li .li_text.divts .right img {
    float: left;
    display: block;
    margin-top: 5px;
    margin-right: 25px;
    height: 150px;
}
.header_xin .xin_nav li .li_text.divts .right h4 {
    font-weight: bolder;
    color: #000;
    font-size: 15px;
    margin-top: 0px;
    line-height: 33px;
	letter-spacing: 3px;
}

.header_xin .xin_nav li .li_text.divts .right h4 a:hover{
    text-shadow: 0 0;
}

.header_xin .xin_nav li .li_text.divts .right span {
    width: 100%;
	border: 0px;
	padding-top: 10px;
    -webkit-line-clamp: 2;
    color: red;
    font-size: 15px;
    line-height: 40px;
    -webkit-line-clamp: 6;
    display: -webkit-box;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
	letter-spacing: 2px;
	font-weight: bold;
}

.header_xin .xin_nav li .li_text.divts .right span a{
    color: #005aa1;
}

.header_xin .xin_nav li .li_text.divts .right span a:hover{
    color: red;
    border-bottom: 2px solid #ff0000;
}

.header_xin .xin_nav li:hover .li_text {
    display: block;
	transition: .5s;
}


.header_xin .form_search {
	width: 270px;
	float: right;
	padding-top: 26px;
}
.header_xin .form_search .inp1 {
	width: 178px;
	line-height: 30px;
	border: 1px solid #005aa1;
	float: left;
	outline: 0;
	padding-left: 8px;
}
.header_xin .form_search .inp2 {
	width: 80px;
	border: none;
	background: #005aa1;
	font-size: 14px;
	text-align: center;
	line-height: 32px;
	color: #fff;
	float: right;
	outline: 0;
}
.header_xin .gw_btn {
	position: absolute;
	right: 0;
	top: 0;
	height: 85px;
	text-align: right;
}
.header_xin .gw_btn span {
	font-size: 14px;
	padding-left: 24px;
	background: url('../images/ic_buy.png') no-repeat left center;
	background-size: 19px;
}

.header_xin .gw_btn p {
	width: 100%;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 10px;
}
.header_xin .gw_btn  p a {
	font-size: 12px;
	line-height: 14px;
	border-left: 1px solid #ddd;
	padding-left: 12px;
	margin-left: 12px;
}
.header_xin .gw_btn  p a:first-child {
	border: none;
	padding: 0;
	margin: 0;
}
.headmt85 {
	margin-top: 90px;
}





.mshow_header {
	display: none!important;
}

.pos_fix {
	position: fixed;
	bottom: 40%;
	right: 5px;
	width: 40px;
	z-index: 99;
	background: #333;
	animation: fadeInRight 1s ease-out 0s 1 normal;
	-webkit-animation: fadeInRight 1s ease-out 0s 1 normal;
}
.pos_fix .text {
	box-shadow: 0 0 6px 1px #f5f7fa;
}
.pos_fix .text li {
	position: relative;
	width: 40px;
	height: 40px;
}
.pos_fix .text li>a {
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: block;
}
.pos_fix .text li>a img {
	display: inline-block;
	vertical-align: middle;
	max-height: 30px;
}
.pos_fix .text li>a img.dianh {
	max-width: 22px;
}
.pos_fix .text li>a img.wx {
	max-width: 24px;
}
.pos_fix .text li>a img.ly {
	max-width: 22px;
}
.pos_fix .text li .li_text {
	position: absolute;
	top: 0;
	left: -235px;
	width: 225px;
	overflow: hidden;
	padding-right: 10px;
	transition: .5s;
	display: none;	
/*	    animation: flipInX 0.3s ease-out 0s 1 normal;
	-webkit-animation: flipInX 0.3s ease-out 0s 1 normal;*/
/*      animation: fadeIn 0.5s ease-out 0s 1 normal;
	-webkit-animation: fadeIn 0.5s ease-out 0s 1 normal; */
		animation: flipInY 0.5s linear 0s 1 normal;
	-webkit-animation: flipInY 0.5s linear 0s 1 normal;
}
.pos_fix .text li .li_text2 {
	font-size: 14px;
	width: 220px;
	overflow: hidden;
	background: #333;
	border-left: 5px solid red;
	transition: .5s;
}


.pos_fix .text li .li_text:after {
	content: '';
	position: absolute;
	right: -10px;
	top: 0;
	width: 10px;
	height: 100%;
	background: rgba(255,255,255,.1);
}
.pos_fix .text li:hover .li_text {
	display: block;
	transition: .5s;
} 
.pos_fix .text li .li_text a {
	color: #fff;
}
.pos_fix .text li .li_text p {
	color: #fff;
	text-align: center;
}

.pos_fix .text li .li_text p img {
	max-width: 200px;
}





.lrform_message{
	width: 680px;
}

.lrform_mess {}
.lrform_mess tr {
	margin-bottom: 12px;
	line-height: 40px;
}
.lrform_mess tr select {
	width: 200px;
	border: none;
	border: 1px solid #ddd;
	height: 36px;
	line-height: 36px;
	color: #666;
}

.lrform_mess tr span i {
	font-style: normal;
	padding-right: 0px;
	float: left;
	position: relative;
}
.lrform_mess tr span input {
	position: relative;
	top: 1.5px;
	margin-right: 2px;
	display: none;
}
.lrform_mess tr td input.w200 {
	width: 200px;
	border: none;
	border: 1px solid #ddd;
	height: 32px;
	line-height: 32px;
	color: #666;
}
.lrform_mess tr td input.inp_sub {
    border: none;
    background: #005aa1;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    outline: 0;
    display: inline-block;
    padding: 0 16px;
    cursor: pointer;
}
.lrform_mess tr td input.inp_res {
    border: none;
    background: #666;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    outline: 0;
    display: inline-block;
    padding: 0 16px;
    cursor: pointer;
}
.lrform_mess tr span label {
    border: 1px solid #ddd;
    padding: 2px 10px 2px 5px;
    line-height: 28px;
    min-width: 80px;
    text-align: center;
    float: left;
    margin: 2px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.lrform_mess tr input:checked + label {
    color: #005aa1;
    border: 1px solid #005aa1;
}
.lrform_mess tr input:checked + label:after {
	content: '✓';
	position: absolute;
	right: -5px;
	bottom: 0;
	font-size: 14px;
	color: #fff;
	width: 25px;
	height: 25px;
	width: 0;
    height: 0;
    border-bottom: 25px solid #005aa1;
    border-left: 25px solid transparent;
}
.lrform_mess tr input:checked + label:before {
	content: '√';
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 12px;
	color: #fff;
	z-index: 5;
	height: 22px;
}


.lrform_mess tr span i em {
	width: 12px;
	height: 12px;
	float: left;
	font-style: normal;
	position: absolute;
    left: 20px;
    top: 13px;
}
.lrform_mess tr span.yanse :nth-child(n+2) label{
	position: relative;
	padding-left: 13px;
    padding-right: 0;
}
.lrform_mess tr span i:nth-of-type(1) em {
}
.lrform_mess tr span i:nth-of-type(2) em {	
	background: #e8e8e8;
}
.lrform_mess tr span i:nth-of-type(3) em {
	background: #777777;
}
.lrform_mess tr span i:nth-of-type(4) em {
	background: red;
}
.lrform_mess tr span i:nth-of-type(5) em {
	background: #000;
}
.lrform_mess tr span i:nth-of-type(6) em {
	background: #7c5628;
}
.lrform_mess tr span i:nth-of-type(7) em {
	background: #ff8a00;
}
.lrform_mess tr span i:nth-of-type(8) em {
	background: #fde12f;
}
.lrform_mess tr span i:nth-of-type(9) em {
	background: #18ff00;
}

.lrform_mess tr td.yanz input {
    float: left;
}
.lrform_mess tr td.yanz img {
    float: left;
    height: 44px;
}

.header_xin_m .gw_btn_m p {
    margin-left: -120px;
}
.cidbtn_m {
    height: auto;
        position: absolute;
    top: 10px;
    right: -35px;
}
.pos_ab_m {
    width: 120px;
    position: relative;
    float: right;
}
.btn_cid_m {
    width: 68px;
    height: 24px;
    background: #fff;
    padding: 0 5px;
    position: relative;
    border: 0px solid #dadada;
    cursor: pointer;
}

.header_xin .gw_btn p {
    margin-left: -120px;
}
.cidbtn {
    height: auto;
        position: absolute;
    top: 10px;
    right: -35px;
}
.pos_ab {
    width: 120px;
    position: relative;
    float: right;
}
.btn_cid {
    width: 68px;
    height: 24px;
    background: #fff;
    padding: 0 5px;
    position: relative;
    border: 0px solid #dadada;
    cursor: pointer;
}
.btn_cid b {
    float: left;
    margin-right: 5px;
    height: 24px;
    display: block;
}
.btn_cid img {
    height: 14px;
    margin-top: 5px;
    display: inline-block;
}
.btn_cid span {
    float: left;
    font-size: 14px;
    color: #333;
    line-height: 24px;
    padding: 0!important;
    background: none!important;
    padding-right: 9px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    width: calc(100% - 40px);
}
.btn_cid i {
    display: block;
    width: 0;
    height: 0;
    border: 4px solid;
    position: absolute;
    top: 50%;
    right: 3px;
    border-color: #111 transparent transparent transparent;
    border-bottom-width: 0;
    background: none;
    margin: -2px 0 0;
    padding: 0;
    transition: .5s;
}
.btn_cid.on i {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    top: 12px;
    transition: .5s;
}
.language_list {
    padding: 5px;
    width: 120px;
    position: absolute;
    left: 0;
    top: 25px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    display: none;
    background: #FFF;
    border: 1px solid #eee;
    padding-bottom: 0;
    z-index: 9999;
}
.language_list ul {
    margin: 0;
    padding: 0;
}
.language_list li {
    position: relative;
    list-style: none;
    border-bottom: 1px solid #dadada;
    padding: 7px 0;
    line-height: 16px;
    width: 100%;
    float: left;
}
.language_list li a{
    display: block;
}
.language_list li b {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 26px;
    height: 16px;
    margin-right: 5px;
    color: #fff;
    float: left;
}
.language_list li b img {
    height: 16px;
    border: 1px solid #aaa;
}
.language_list span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: #333;
    font-size: 14px;
    float: left;
    width: calc(100% - 35px);
    padding: 0!important;
    background: none!important;
    text-align: left;
}
.language_list li:hover span {
    color: red;
}
#iframe {
    height: calc(100vh - 45px);
    position: relative;
    overflow: hidden;
}

