<!DOCTYPE html>
<html lang="cn" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"/>
<link href="//cdn.staticfile.org/twitter-bootstrap/4.6.1/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" type="text/javascript"></script>
<link href="/static/blog/main.css?v=1" rel="stylesheet"/>
</head>
<body>
<div class="container main-container">
<header>
   <nav class="navbar navbar-expand-lg navbar-light">
         <a class="navbar-brand" th:text="${host.shortName}" th:href="${host.domain}">Carousel</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
	        <li class="nav-item active">
	          <a class="nav-link active" th:href="${host.domain}">首页</a>
	        </li>
		    <li class="nav-item" th:each="item,stat:${categoryList}">
		      <a class="nav-link" th:href="@{'/type/' + ${item.categoryId}}" th:text="${item.categoryName}"></a>
		    </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/hots">热门排行</a>
	        </li>
             </ul>
         </div>
   </nav>
</header>
<div layout:fragment="content"></div>
<footer class="bg-white border-top pt-3 pb-3 text-muted small">
    <p class="m-0">
		<span class="navbar-brand mr-2"><strong th:text="${host.shortName}"></strong></span> Copyright &copy;<script>document.write(new Date().getFullYear())</script>
		Made with <a class="text-secondary font-weight-bold" href="/" th:text="${host.shortName}">Runoo</a>
    </p>
</footer>
</div>
<script src="//cdn.staticfile.org/twitter-bootstrap/4.6.1/js/bootstrap.min.js"></script>
<script src="/script/js.js"></script>
</body>
</html>


