@charset "utf-8";
img{ border: 0;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
* html .clearfix { height: 1%;}
.outHide{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.album_list{ max-height: 9999px; padding: 10px;line-height:16px}
.album_list li{ float: left; padding: 0 10px 20px; width: 166px;}
.album_list_cover{ width: 100%; height: 167px; position: relative; overflow: hidden; background: url(../images/album.png) no-repeat;}
.album_list_cover a{ display: table-cell; width: 160px; height: 161px; line-height: 161px; text-align: center; vertical-align: middle; overflow: hidden;}
.album_list_cover a img{ max-height: 100%; max-width: 100%; vertical-align: middle;}
.cover_label{ position: absolute; top: 0; left: 0; width: 42px; height: 42px; background: url(../images/album.png) no-repeat 0 -299px;}
.album_list_tit{ margin: 8px auto 0; overflow-wrap: break-word; text-align: center; word-break: break-all;height:40px;line-height:20px;overflow:hidden;}
.album_list_tit a{ color: #333; font-size: 13px;}
.album_list_tit a:hover{ text-decoration: underline;}
.album_list_count{ margin: 8px auto 0; overflow-wrap: break-word; text-align: center; word-break: break-all; color: #888; font-size: 13px;}
.shipin_tl{ background: url(../images/shipin22.png);}