@charset "UTF-8";
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em,
 img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table,
 caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output,
 section, summary,time, mark, audio, video, input, select { margin:0;padding:0;}
body{ background: #fff; color: #333; font: 12px/1.5 "Microsoft Yahei","Hiragino Sans GB",arial,sans-serif;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
address,cite,dfn,em,var,i{ font-style:normal}
ol, ul { list-style: none;}
img{ border: 0;}
table { border-collapse: collapse; border-spacing: 0;}
a{ color: #333; text-decoration: none;}
a:hover{ color: #f60; text-decoration: none;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
* html .clearfix { height: 1%;}
input::-ms-clear, ::-ms-reveal{display: none;}
input:focus,textarea:focus { outline:none;}
.mask{ display: none; z-index: 9999; position: fixed; top: 0; right: 0; bottom: 0; left: 0; background:rgba(0,0,0,0.4); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000); zoom:1;}
:root .mask{filter:none\9;}/*for IE9*/
.outHide{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.box{ width: 1200px; margin: 0 auto; position: relative; max-height: 99999px;}

.header{ min-width: 1200px; height: 105px; line-height: 105px;}
.logo{ margin-top: 30px; *margin-top: 5px;}
.header_tit{ display: inline-block; height: 31px; line-height: 31px; margin-left: 25px; padding-left: 25px; border-left: 1px solid #ddd; font-size: 24px; color: #717171; position: relative; top: -8px;}
.header_r{ float: right; font-size: 14px; color: #717171; *margin-top: -105px;}
.header_r a{ color: #239df3; text-decoration: underline; padding: 0 2px;}
.header_r a:hover{ color: #f60;}
.fs16{ font-size: 16px;}
.red{ color: #e60012;}
.login_box{ min-width: 1200px; height: 585px;}
.loginGg_link{ float: left; display: block; width: 780px; height: 585px; position: relative;}
.loginGg_link .ggTxt{ position: absolute; left: 0; bottom: 0; padding: 1px 8px; background: #000; color: #fff; opacity: 0.24; filter:alpha(opacity=24);}
.login_info_box{ float: left; width: 347px; height: 438px; margin-top: 80px; border-radius: 4px; background: url(../images/login_bg.png) repeat;}
.login_info_t{ height: 70px; overflow: hidden; position: relative; padding-left: 20px; font-size: 24px; color: #555;}
.login_info_t span{ display: inline-block; font-size: 24px; color: #555; margin-top: 8px;}
.login_info_t a{ font-size: 14px; color: #07b0ff; margin-left: 10px;}
.login_info_t a:hover{ text-decoration: underline;}
.dlfs{ position: absolute; right: 0; top: 0; width: 70px; height: 70px;}
.ewmdl{ background: url(../images/ewmdl.png) right top no-repeat;}
.mmdl{ display: none; background: url(../images/mmdl.png) right top no-repeat;}
.login_info_c{ height: 225px; padding: 15px 35px 0;}
.input_box{ position: relative;}
.login_input{ height: 39px; line-height: 39px; width: 225px; padding: 0 10px 0 40px; border: 1px solid #e2e2e2; background: #fff; color: #666; border-radius: 3px;}
.login_input::-webkit-input-placeholder{ color: #aaa;}
i.user{ display: block; width: 18px; height: 18px; position: absolute; left: 11px; top: 11px; background: url(../images/user.png) center center no-repeat;}
i.suo{ display: block; width: 18px; height: 18px; position: absolute; left: 11px; top: 11px; background: url(../images/suo.png) center center no-repeat;}
i.phone{ display: block; width: 18px; height: 18px; position: absolute; left: 11px; top: 11px; background: url(../images/phone.png) center center no-repeat;}
i.yzm{ display: block; width: 18px; height: 18px; position: absolute; left: 11px; top: 11px; background: url(../images/yzm.png) center center no-repeat;}
.login_txtbox{ height: 32px; line-height: 32px; color: #999;}
.login_txtbox a{ color: #979797; float: right;}
.login_txtbox a:hover{ text-decoration: underline; color: #f50;}
.login_txtbox input{ vertical-align: middle; margin: 0 0 3px 2px;}
.ie7-32{ *margin-top: -32px;}
.login_error{ height: 28px; line-height: 20px; overflow: hidden; color: #f00;}
.login_btn{ width: 277px; height: 41px; line-height: 41px; border: 0; background: #ff7300; color: #fff; font-size: 18px; border-radius: 3px; cursor: pointer;}
.login_btn:hover{ background: #f36f03;}
.login_info_b{ padding: 10px 35px 0;}
.login_info_b_tit{ color: #939ca0;}
.login_qtfs{ text-align: right; margin-top: 10px;}
.login_qtfs a{ display: inline-block; text-align: center; margin-left: 15px;}
.login_qtfs a.yhmdl{ display: none;}
.sjdl_box,.ewmdl_box{ display: none;}
.hqyzm{ display: block; position: absolute; right: 0; top: 0; height: 41px; line-height: 41px; width: 120px; text-align: center; font-size: 14px; background: #4ab3f9; color: #fff; overflow: hidden;}
.hqyzm:hover{ background: #35a7f4; color: #fff;}
.hqyzm_no{ display: block; position: absolute; right: 0; top: 0; height: 41px; line-height: 41px; width: 120px; text-align: center; font-size: 14px; background: #cfcfcf; color: #fff; overflow: hidden;}
.hqyzm_no:hover{ background: #cfcfcf; color: #fff;}
.ewmdl_tit{ height: 40px; line-height: 40px; font-size: 16px; color: #333; text-align: center;}
.ewmdl_tit span{ color: #a00; padding: 0 2px;}
.ewmdl_ewm{ text-align: center; margin-top: 10px;}
.ewmdl_ewm img{ width: 150px; height: 150px;}
.footer{ min-width: 1200px;  padding: 30px 0;}
.footer_info{ text-align: center; line-height: 30px; font-size: 14px; color: #777;}
.footer_info a{ color: #777; border-right: 1px solid #999; padding-right: 10px; margin-right: 10px;}
.footer_info a:last-of-type{ border-right: 0;}
.footer_info a:hover{ color: #f60;}

.reg_wapper{ padding: 80px 0 60px 280px;}
.reg_info_box{ max-height: 9999px; line-height: 41px; margin-bottom: 33px; position: relative;}
.reg_info_l{ float: left; width: 110px; text-align: right; font-size: 14px; margin-right: 20px;}
.btx{ position: relative; top: 2px; right: 4px; color: #e00; font-weight: bold;}
.reg_info_r{ float: left; width: 700px;}
.reg_input{ height: 39px; line-height: 39px; width: 300px; padding: 0 10px; border: 1px solid #bfbfbf; background: #fff; border-radius: 2px; font-size: 14px; color: #666;}
.w70{ width: 70px;}
.yzmImg{ vertical-align: middle; margin: 0 8px 3px 10px; *margin-bottom: 26px; cursor: pointer;}
.sxyzm{ color: #0aa0de; font-size: 14px;}
.hqyzmR{ display: block; position: absolute; left: 330px; top: 1px; *top: 2px; width: 120px; height: 39px; line-height: 39px; text-align: center; background: #4ab3f9; color: #fff; font-size: 14px; border-left: 1px solid #4ab3f9;}
.hqyzmR:hover{ background: #35a7f4; color: #fff;}
.hqyzmR_no{ display: block; position: absolute; left: 330px; top: 1px; *top: 2px; width: 120px; height: 39px; line-height: 39px; text-align: center; background: #bfbfbf; color: #f2f2f2; font-size: 14px; border-left: 1px solid #bfbfbf;}
.hqyzmR_no:hover{ background: #bfbfbf; color: #f2f2f2;}
.reg_ts{ color: #7c7c7c; margin-left: 20px; padding-left: 20px; background: url(../images/tstb.png) left 2px no-repeat; position: absolute; top: 10px; display: inline-block; width: 315px; height: 38px; line-height: 19px; overflow: hidden;}
.reg_cw{ color: #d73a39; margin-left: 20px; padding-left: 20px; background: url(../images/cwtb.png) left 2px no-repeat; position: absolute; top: 10px; display: inline-block; width: 315px; height: 38px; line-height: 19px; overflow: hidden;}
.reg_zq{ *display: inline-block; *margin-bottom: 10px; color: #2aa515; margin-left: 20px; padding-left: 20px; background: url(../images/zqtb.png) left center no-repeat;}
.reg_txt{ padding-left: 130px; margin: -8px 0 40px; font-size: 14px;}
.reg_txt a{ color: #0aa0de; margin-left: -24px;}
.fxkMn,.dxkMn{ font-size: 14px; color: #787878; position: relative; margin-right: 20px;}
.fxkMn i,.dxkMn i{ display: inline-block; width: 25px; height: 15px; margin: 0 2px -2px 0; *margin-bottom: 2px;}
.fxkMn i.no,.dxkMn i.no{ background: url(../images/weixuanzhong.png) center center no-repeat;}
.fxkMn i.yes,.dxkMn i.yes{ background: url(../images/xuanzhong.png) center center no-repeat;}
.tmxk{ width: 100%; height: 100%; opacity: 0; filter: alpha(opacity=0); position: absolute; top: 0; left: 0;}
.rembtn_box{ padding-left: 130px;}
.regBtn{ width: 321px; height: 48px; line-height: 49px; background: #e60012; color: #fff; font-size: 22px; border-radius: 4px; border: 0; cursor: pointer; letter-spacing: 2px;}
.regBtn:hover{ background: #d70112;}
.regBtn_no{ width: 339px; height: 48px; line-height: 49px; background: #aaa; color: #fff; font-size: 22px; border-radius: 4px; border: 0; cursor: pointer;}
.regBtn_no:hover{ background: #aaa;}
.reg_wxts{ width: 570px; margin: 80px 0 0 60px; padding: 8px 8px 8px 36px; line-height: 26px; border: 1px solid #d2d2d2; border-radius: 4px; font-size: 14px; color: #909090; background: #fff url(../images/wxts.png) 11px 13px no-repeat;}
.reg_wxts span{ color: #19abff;}
.w161{ width: 161px;}
.reg_select{ width: 160px; height: 41px; line-height: 41px; margin-right: 17px; padding-left: 10px; border: 1px solid #bfbfbf; font-size: 14px;}
.mR0{ margin-right: 0;}
.mT60{ margin-top: 60px;}
.mmqd{ position: absolute; top: 35px; *top: 50px; left: 130px; width: 76px; height: 12px;}
.mL20{ margin-left: 20px;}

.regsuc_box{ width: 550px; height: 500px; padding-left: 220px; margin: 80px auto 0; overflow: hidden; background: url(../images/zccg.png) left top no-repeat;}
.zccg_txt1{ margin-top: 96px; font-size: 24px; color: #1b7606;}
.zccg_txt1 span{ color: #ff7300;}
.zccg_txt2{ margin-top: 15px; color: #1b7606; font-size: 13px;}
.zccg_o{ margin-top: 30px; text-align: center; width: 450px; color: #aaa; font-size: 14px;}
.zccg_o a{ display: inline-block; width: 220px; height: 41px; line-height: 41px; text-align: center; margin-bottom: 20px; background: #22ac38; color: #fff; font-size: 16px; border-radius: 4px;}
.zccg_o a:hover{ background: #17962b; color: #fff;}
.w01{width:159px;margin-right:20px;}
.weixincode{display:inline-block;width:120px;height:120px;line-height:20px; margin-bottom: 20px; font-style:none;vertical-align:top;position: relative;}
.weixincode img {width:120px;height:120px;}
.weixincode_ts{ position: absolute; left: -29px; bottom: -24px; width: 180px; text-align: center; color: #f00;}

.dialogCommon{ z-index: 10000; position: fixed; width: 900px; top: -8888px; left: 50%; margin-left: -450px; background: none;}
.dialogCommon_header{ height: 40px; line-height: 40px; background: #2a3542; color: #fff; font-size: 15px; padding: 0 24px;}
.dialogCommon_center{ padding: 20px 0; background: #fff; max-height: 550px; overflow-y: auto;}
.reg_zcxy{ padding: 0 30px;}
.zcxy_info_tit{ margin-top: 20px; text-align: center; font-size: 17px; font-weight: bold;}
.zcxy_info_tit2{ margin-top: 20px; text-align: center; font-size: 13px; color: #888;}
.zcxy_info{ font-size: 14px; margin: 40px 0; padding-bottom: 50px; line-height: 28px; text-align: justify;}
.zcxy_info p{ margin-bottom: 15px;}
.reg_zcxy_close{ position: absolute; bottom: 0; left: 0; width: 100%; height: 80px; background: #fff; border-top: 1px solid #eee; text-align: center;}
.reg_zcxy_close a{ display: inline-block; height: 36px; line-height: 36px; padding: 0 20px; margin-top: 22px; background: #bbb; color: #fff; font-size: 16px; border-radius: 4px;}
.reg_zcxy_close a:hover{ background: #bbb; color: #fff;}
.reg_zcxy_close a.reg_zcxy_close_btn{background: #f50; color: #fff;}
.reg_zcxy_close a.reg_zcxy_close_btn:hover{ background: #f40; color: #fff;}






@media screen and (max-width:767px){
	.footer,.mmqd{ display: none;}
    .header{ min-width: 0; height: auto; line-height: 35px;}
    .box{ width: 100%;}
    .logo{ height: 35px; margin: 20px 0 0 15px;}
    .header_tit{ margin-left: 15px; padding-left: 15px; height: 22px; line-height: 22px; font-size: 18px;}
    .header_r{ display: block; padding: 20px 20px 0; width: 100%; margin-top: 10px; border-top: 1px solid #eee; float: none; text-align: right; box-sizing: border-box;}
    .fs16{ font-size: 14px;}
    .reg_wapper{ padding: 30px 20px;}
    .reg_info_box{ line-height: 35px; margin-bottom: 10px;}
    .reg_wxts{ width: 100%; box-sizing: border-box; margin: 60px 0 0 0;}
    .reg_ts,.reg_cw,.reg_zq{ width: 100%; position: relative; height: auto; margin: 0; top: 2px; box-sizing: border-box;}
    .reg_info_l{ width: 100%; text-align: left;}
    .reg_info_r{ width: 100%; position: relative;}
    .reg_input{ width: 100%; box-sizing: border-box;}
    .w70{ width: 30%;}
    .hqyzmR{ left: inherit; right: 0; top: 0; border: 0 2px 2px 0;}
    .reg_txt{ padding: 0; text-align: center;}
    .rembtn_box{ padding: 0;}
    .yzmImg{ width: 90px; height: 39px;}
	.regBtn{ width: 100%;}
	.reg_txt{ margin-top: 0;}
	.mL20{ margin-left: 0;}
	.reg_select{ width: 47%;}
    .zcxy_info{ width: 100%; padding: 0 20px; box-sizing: border-box;}
    .zcxy_info_tit2{ padding: 0 15px;}
}
@media screen and (max-width:413px){
    .logo{ height: 32px;}
    .header_tit{ font-size: 16px;}
    .reg_select{ width: 46%;}
}
@media screen and (max-width:374px){
	.w70{ width: 26%;}
    .yzmImg{ width: 60px;}
    .fxkMn, .dxkMn,.reg_txt{ font-size: 12px;}
    .header_r{ font-size: 12px;}
}