@charset "utf-8";
/* CSS Document */
/* Author: Yangz */
/* Time: 2013/10/08 */


#body { padding-top: 0; padding-bottom: 50px }
/*banner*/
.banner { height: 558px; width: 100%; overflow: hidden; position: relative; margin-bottom: 30px }
.banner_list li { height: 558px; width: 100%; position: absolute; }
.banner_list li img { position: absolute; left: 50%; margin-left: -720px }
.banner_overlay { height: 73px; width: 100%; background: #693387; opacity: 0.9; filter: alpha(opacity=90); position: absolute; bottom: 0; z-index: 10; left: 0 }
.banner_b { height: 73px; width: 1000px; left: 50%; margin-left: -500px; position: absolute; bottom: 0; z-index: 11 }
.banner_c { padding-top: 26px; float: left; }
.banner_c li { width: 17px; height: 26px; background: url(icon48.png) no-repeat; cursor: pointer; float: left; margin-right: 6px; font-size: 0; line-height: 0; text-indent: -9999em; overflow: hidden }
.banner_c li.on { background: url(icon49.png) no-repeat }
.banner_des { float: right; color: #fff }
.banner_des li { height: 73px; line-height: 73px; font-size: 18px; text-align: right }
.banner_des li strong { font-size: 36px; font-weight: normal }
/*�Ӱ��*/
.sub { overflow: hidden; height: 138px; margin-bottom: 35px }
.sub_a { height: 136px; width: 312px; display:block; border: 1px solid #e1e1e1; border-left: 0 none; background: #fff url(icon50.png) right bottom no-repeat }
.sub_a_c { margin: 0 auto}
.sub_a img { display: block; float: left; width: 139px; margin-right: 15px }
.sub_a strong { display: block; float: left; width: 158px; color: #693387; font-size: 22px; font-weight: normal; line-height: 100%; padding: 10px 0; cursor: pointer }
.sub_a span { display: block; float: left; width: 144px; color: #575656; padding-right: 14px; cursor: pointer }
.sub_a_wrap{ width:314px; float:left;}
.sub_a_wrap_c{ width:372px;}
/*news*/
.news { overflow: hidden; padding-bottom: 20px; position: relative; border-bottom: 1px solid #e2e1e0; margin-bottom: 25px; height: 168px; width: 1000px }
.news_box { float: left; width: 287px; overflow: hidden }
.news_box_c { margin: 0 69px }
.news_box h2 { height: 38px; line-height: 38px; border-bottom: 1px solid #e0dedd; color: #693387; font-weight: normal; font-size: 20px; background: url(icon51.png) right center no-repeat; margin-bottom: 13px }
.news_box h2 a { color: #693387; display: block }
.news_box ul { margin-bottom: 11px }
.news_box ul li { height: 22px; line-height: 22px; background: url(icon52.png) left center no-repeat; padding-left: 8px; height: 21px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 279px }
.news_box ul li a { color: #575656 }
.news_box ul li a:hover { color: #693387 }
.line1, .line2 { border-left: 1px solid #d9d8d6; height: 130px; width: 1px; position: absolute; top: 23px }
.line1 { left: 321px }
.line2 { left: 674px }
/*�ײ�ͼ��*/
.index_line{ height:84px; border-right:1px solid #e0d7d2;position:absolute; top:10px}
.index_links { overflow: visible; float: left; padding-top: 10px; width: 784px; height: 100px; position:relative }
.index_line_1{ left:111px}
.index_line_2{ left:222px}
.index_line_3{ left:333px}
.index_line_4{ left:444px}
.index_line_5{ left:555px}
.index_line_6{ left:666px}
.index_line_7{ left:777px}
.index_links a { min-height: 14px;  width: 111px; background-position: center top; background-repeat: no-repeat; display: block; float: left; text-align: center; line-height: 1.5;white-space: normal; padding-top: 70px; overflow: hidden; _width: 110px }
.index_links a:hover { color: #693387 }
.a1 { background-image: url(icon53.png) }
.a2 { background-image: url(icon54.png) }
.a3 { background-image: url(icon55.png) }
.a4 { background-image: url(icon56.png) }
.a5 { background-image: url(icon57.png) }
.a6 { background-image: url(icon58.png) }
.a7 { background-image: url(icon59.png) }
.video { float: left; margin-left: 25px;  position: relative; width: 189px; }
.video_btn { position: absolute; width: 38px; height: 38px; background: url(icon60.png) no-repeat; left: 50%; top: 50%; margin-left: -19px; margin-top: -19px; cursor: pointer }
.video_overlay { position: fixed; width: 100%; height: 100%; background: #000; opacity: 0.5; filter: alpha(opacity=50); z-index: 1000; left: 0; top: 0; cursor: pointer; display: none }
.video_box { width: 561px; height: 450px; position: fixed; left: 50%; top: 50%; margin-left: -280px; margin-top: -225px; z-index: 1001; background: #000; display: none }

/*font-fix*/
.news_box ul li { height: 24px; line-height: 24px }
.line1, .line2 { height: 145px }
.news { height: 183px }