<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head id="Head1"> 
  <title>最新供应_深圳市福田区宝博电子商务商行</title>         
  <link href="/tmpl/5500c/res/82.css" type="text/css" rel="stylesheet"> 
  <link href="/tmpl/5500c/res/new1.css" type="text/css" rel="stylesheet"> 
  <link href="/tmpl/5500c/res/kfcss.css" type="text/css" rel="stylesheet">    
  <meta charset="UTF-8">
 </head> 
 <body> 
  <div id="legoo">
   <a href="#" rel="nofollow">搜了网</a>&nbsp;|&nbsp;
   <a href="#" rel="nofollow">设为主页</a>
   <span class="llogin"> <a href="#" rel="nofollow">注册</a>&nbsp;|&nbsp;<a href="#" rel="nofollow">登录</a> </span>
  </div> 
  <div id="middlelayout"> 
   <div id="namelogo"> 
    <div id="companylogo"> 
     <span class="logoimg"> <img id="imgLogo" src="/tmpl/5500c/res/202012260936231368.png"> </span> 
    </div> 
    <h1><p class="chinesename" style="FONT-WEIGHT: bold; FONT-SIZE: 30px; COLOR: #cc3300; FONT-FAMILY: 黑体;font-style:normal"><ws_sitename></ws_sitename></p></h1>
   </div> 
   <div id="menulist"> 
    <ul class="columnlist"> 
     <li id="homepage"><a href="#" rel="nofollow">首页</a> </li> 
     <li id="LI1"><a href="#" rel="nofollow">公司介绍</a> </li> 
     <li id="product"><a href="#" rel="nofollow">产品展厅</a> </li> 
     <li id="LI18"><a href="#" rel="nofollow">产品视频</a> </li> 
     <li id="sell"><a href="#" rel="nofollow">最新供应</a> </li> 
     <li id="paper"><a href="#" rel="nofollow">资质证书</a> </li> 
     <li id="complink"><a href="#" rel="nofollow">新闻资讯</a> </li> 
     <li id="LI2"><a href="#" rel="nofollow">联系我们</a> </li> 
    </ul>
   </div>  
  </div> 
  <div id="content2__1"> 
   <div id="sitewhere">
    您现在的位置：
    <a href="#" rel="nofollow">主页</a>&nbsp;&gt;&nbsp;
    <strong>最新供应</strong>
   </div> 
   <div id="productshow"> 
    <h3><span class="left"></span><span class="stitle">最新供应</span><span class="right"></span></h3> 
    <div class="selldiv"> 
     <ul> 
      <ws_list tag="li">
       <div class="imgdiv">
        <a href="#" rel="nofollow"><img src="{{img}}"> </a>
       </div>
       <div class="sellinfo">
        <a href="{{link}}" rel="nofollow">{{title}}</a>
        <span class="selltime">2022-12-1</span>
       </div></ws_list>
     </ul> 
    </div> 
    <div class="totalpro"> 
     <ul> 
      <li class="pre"><a rel="nofollow" href="#">&nbsp;</a></li>
      <li class="selpage"><span>1</span></li>
      <li><a href="#" rel="nofollow">2</a></li>
      <li><a href="#" rel="nofollow">3</a></li>
      <li><a href="#" rel="nofollow">4</a></li>
      <li><a href="#" rel="nofollow">5</a></li>
      <li><a href="#" rel="nofollow">6</a></li>
      <li><a href="#" rel="nofollow">7</a></li>
      <li><a href="#" rel="nofollow">8</a></li>
      <li><a href="#" rel="nofollow">9</a></li>
      <li><a href="#" rel="nofollow">10</a></li>
      <li class="next"><a href="#" rel="nofollow">&nbsp;</a></li> 
     </ul> 
    </div> 
   </div>
  </div> 
  <div id="content1__1"> 
   <!--<DIV id=phone><script type="text/javascript" language="javascript" src="http://www.wanghuatong.com/IndustryLink/Industry.asp?a=201072&u=1803725&i1=Template/images/1/freecall.gif&i2=Template/images/1/freecall.gif&ix=181&iy=46&url=http://1803725.51sole.com/companymessage.htm"></script></DIV>-->  
   <div id="productnav__1"> 
    <h3>产品系列</h3> 
    <div class="navdiv"> 
     <ul> 
      <li>
       <div class="f fblod" id="sa6864814">
        <a href="#" rel="nofollow">集成电路回收</a>
       </div>
       <div class="ps" id="a6864814" style="display:none">
        <div class="b">
         <a href="#" rel="nofollow">通讯ic</a>
        </div>
       </div></li>
      <li>
       <div class="t fblod" id="sa6867691">
        <a href="#" rel="nofollow">IC回收</a>
       </div>
       <div class="ps" id="a6867691" style="display:block">
        <div class="b">
         <a href="#" rel="nofollow">回收ic芯片</a>
        </div>
       </div></li>
      <li><a class="tw_c" href="#" rel="nofollow">电子料库存回收</a></li>
      <li><a class="tw_c" href="#" rel="nofollow">电子料回收</a></li>
      <li><a class="tw_c" href="#" rel="nofollow">电子元件回收</a></li>
      <li><a class="tw_c" href="#" rel="nofollow">二三极管</a></li>
      <li>
       <div class="f fblod" id="sa6864832">
        <a href="#" rel="nofollow">连接器</a>
       </div>
       <div class="ps" id="a6864832" style="display:none">
        <div class="b">
         <a href="#" rel="nofollow">IC卡连接器</a>
        </div>
       </div></li>
      <li>
       <div class="f fblod" id="sa6867417">
        <a href="#" rel="nofollow">电容器</a>
       </div>
       <div class="ps" id="a6867417" style="display:none">
        <div class="b">
         <a href="#" rel="nofollow">法拉电容</a>
        </div>
       </div></li>
      <li>
       <div class="f fblod" id="sa6867428">
        <a href="#" rel="nofollow">三极管</a>
       </div>
       <div class="ps" id="a6867428" style="display:none">
        <div class="b">
         <a href="#" rel="nofollow">光敏三极管</a>
        </div>
       </div></li>
      <li><a class="tw_c" href="#" rel="nofollow">电感</a></li>
      <li><a class="tw_c" href="#" rel="nofollow">回收晶振</a></li>
      <li><a class="tw_c" href="#" rel="nofollow">回收IC电子料</a></li>
     </ul>
     <ul>
      <div style="clear:both"></div>
      <div style="float:right; margin-top:6px; margin-right:6px; height:14px; line-height:14px; padding:0 10px;">
       <a href="#" rel="nofollow">更多...</a>
      </div>
      <div style="clear:both"></div> 
     </ul> 
    </div>
   </div> 
   <div class="search"> 
    <ul> 
     <li class="search_tit">站内搜索</li> 
     <li class="search_cont"><span><input id="keyword" onblur="onBluse(this);" onclick="clear1(this.value)" value="输入产品关键字" name="keyword" class="search_input" type="text"></span><span>&nbsp;<input class="seek" onClick="    search();return false;" type="submit" value=""></span></li> 
    </ul> 
   </div> 
   <div id="msgbox"></div> 
   <div id="maps">
    <a class="attacha" style="DISPLAY: block; WIDTH: 126px; HEIGHT: 26px" href="#" rel="nofollow">企业电子地图</a> 
   </div> 
   <div id="video">
    <a class="attacha" style="DISPLAY: block; WIDTH: 126px; HEIGHT: 26px" href="#" rel="nofollow">企业视频展示</a> 
   </div> 
   <div id="words">
    <a class="attacha" style="DISPLAY: block; WIDTH: 126px; HEIGHT: 26px" href="#" rel="nofollow">在线给我留言</a> 
   </div> 
   <div id="chat">
    <a class="attacha" style="DISPLAY: block; WIDTH: 126px; HEIGHT: 26px" href="#" rel="nofollow">在线和我洽谈</a> 
   </div> 
   <div id="navcontact__1"> 
    <h3>联系方式</h3> 
    <ul> 
     <li><i>地址：</i><span>广东深圳市福田区华强电子世界</span></li> 
     <li><i>电话：</i><span>0755-61516161</span></li> 
     <li><i>传真：</i><span>-</span></li> 
     <li><i>手机：</i><span>18676668999</span></li> 
     <li><i>联系人：</i><span>谢先生 </span></li>
    </ul> 
    <div class="more">
     <img src="/tmpl/5500c/res/arrow_more.gif"> 
     <a href="#" rel="nofollow">详细信息</a>
    </div>
   </div> 
   <div id="productnav__1"> 
    <h3>友情链接</h3> 
    <div class="navdiv"> 
     <ul> 
     </ul> 
    </div>
   </div> 
  </div> 
  <div id="footer"> 
   <div class="botwidth"> 
    <div class="botmenu"> 
     <a href="#" rel="nofollow">首页</a> |&nbsp;
     <a href="#" rel="nofollow">公司介绍</a> |&nbsp;
     <a href="#" rel="nofollow">产品展厅</a> |&nbsp;
     <a href="#" rel="nofollow">最新供应</a> |&nbsp;
     <a href="#" rel="nofollow">资质证书</a> |&nbsp;
     <a href="#" rel="nofollow">新闻资讯</a> |&nbsp;
     <a href="#" rel="nofollow">联系我们</a> 
    </div>
   </div> 
   <div id="legoobt">
    技术支持： 
    <a href="#" rel="nofollow">搜了网</a>&nbsp;回收IC晶振、回收库存电子料、回收IC、回收电子料、回收电子元件&nbsp;
    <a href="#" rel="nofollow">粤ICP备2022038514号-1 </a>&nbsp; 
   </div> 
  </div>  
  <!--对联广告  -->  
  <!--搜了客服  -->        
  <div class="51la" style="display: none;">  
  </div> 
  <link href="/tmpl/5500c/res/base.css" type="text/css" rel="stylesheet"> 
  <img src="/tmpl/5500c/res/201911221141329075.png" class="tp_rb_kf"> 
  <div class="mask"></div> 
  <div class="dialog" id="zxtc" style="width: 620px; margin-left: -310px;"> 
   <a class="dialog_close" href="#" rel="nofollow"></a> 
   <div class="dialog_header">
    深圳市福田区宝博电子商务商行
   </div> 
   <div class="dialog_center"> 
    <div class="zxtc_t clearfix" id="leaveMsg"> 
     <div class="zxtc_info1"> 
      <img src="/tmpl/5500c/res/202012260936231368.png" class="zxtc_tx"> 
      <div class="zxtc_info_t">
       谢先生
       <span>07:28:55</span>
      </div> 
      <div class="zxtc_info_b"> 
       <span class="zxtc_info_b_info"><i></i>您好，欢迎光临深圳市福田区宝博电子商务商行，请发送您要咨询的内容。</span> 
      </div> 
     </div> 
    </div> 
    <div class="rb_dialog_form"> 
     <textarea placeholder="点击输入您要采购的产品及其他要求" id="txtamsg"></textarea> 
     <div class="rb_dialog_form_nr" id="contaContent"> 
      <input type="text" name="" placeholder="联系人" id="txtconta"> 
      <input type="text" name="" placeholder="电话/微信" id="txtcontaphone"> 
      <input type="button" class="rb_dialog_form_btn" value="发送" name="" onclick="submitMsg();"> 
     </div> 
     <div class="rb_dialog_error"></div> 
    </div> 
   </div> 
  </div>    
 </body>
</html>